$brand-primary:         #e20c1e;
$brand-secondary:       #FF6564;
$white:                 #FFFFFF;
$black:                 #000000;
$grey-font:             #444444;
$blurb-text:            #9c9c9c;

// Grays
$gray-darker:            lighten($black, 13.5%) !default; // #222
$gray-dark:              lighten($black, 20%) !default;   // #333
$gray:                   lighten($black, 33.5%) !default; // #555
$gray-light:             lighten($black, 60%) !default;   // #999
$gray-lighter:           lighten($black, 80%) !default; // #eee
$gray-lightest:          lighten($black, 90%) !default; // #eee


// Social Icon Colors
$facebook-blue: #3A5A98;
$twitter-blue: #4AC7F9;
$linkedin-blue: #2A6989;
$google-red: #DB4A39;
$whatsapp-green: #4DC658;
/* Variables */
$color1: #FFFFFF;
$color2:#FFFFFF; 
/*#FF4CA5;*/
$color3: #ff007f;
$footer-above: #5e5e5e;
$footer-short: #000;
$color5: #CC0066;
$color6: #031f38;