
$phone: max-width 700px;
$tablet-small: min-width 401px;
$tablet: min-width 700px;
$only-phone-tablets: max-width 799px;
$small-pc: min-width 800px;
$pc: min-width 1200px;

$tablet-maxwidth: em(680);
$pc-maxwidth: em(1160);
$pc-content-maxwidth: em(820);

body {
  overflow-x: hidden;
}
