{% extends "layout" %}
{% block content %}
<div class="js-stories-container">
  {% include "/story/story" %}
  <div id="youtube-iframe-api"></div>
  <script>
    qtReady.push(function() {
      app.videos.setupYoutubeVideo();
      app.videos.loadYoutubeLibrary();
      app.analytics.setup();
    })
  </script>
</div>
{% endblock %}





