{% extends "layout" %}

{% block content %}
    <script type="text/javascript">
        qtReady.push(function () {
            app.startStoryPreview();
        });
    </script>
    <div id='story-container'></div>
{% endblock %}