<div class="story-element-{{ dataElement['subtype'] }}">
     {% if dataElement['metadata']['attribution'] != null %}
         <h2>{{ dataElement['metadata']['content'] | raw }}</h2>
     {% endif %}
     <div class="description">
         <p>{{ dataElement['metadata']['attribution'] | raw }}</p>
     </div>
</div>
