<div class="story-element-{{ dataElement['subtype'] }}">
     <h5>{{ dataElement['metadata']['question'] | raw }}</h5>
      <div class="answer">
          <p>{{ dataElement['metadata']['answer'] | raw }}</p>
      </div>
</div>
