<div class="story-element-{{ dataElement['subtype'] }}">
  <a class="snapshot-header" href="javascript:void(0)">
    <h5>Snapshot</h5>
    <span role="button" class="snapshot-icon">-</span>
    <span role="button" class="snapshot-icon snapshot-icon-plus hide">+</span>
  </a>
  <div class="snapshot-text">
    {{ dataElement['text'] | raw }}
  </div>
</div>
