<div class="story-element-{{ dataElement['subtype'] }}">
  <table id="data-table"
          class="display"
          width="100%"
          content="{{dataElement['data']['content']}}"
          header="{{dataElement['metadata']['has-header'] | json_encode}}"></table>
</div>
