.story_hero {
    position: relative;
    /*margin-top:em(10);*/
    @include aspect-ratio(16, 9);
    padding: em(0);
    width: 100%;
    @include breakpoint($phone) {
        @include aspect-ratio(16, 9);
        padding: em(0);
    }
    &__text {
        position: absolute;
        bottom: 0px;
        background-color: $black-opacity;
        width: 100%;
        font-size: em(14);
        padding: em(5) em(15) em(5) em(15);
        opacity: .8;
        color: $white;
        z-index: $zIndex-1;
        word-wrap: break-word;
        @include breakpoint($phone) {
            font-size: 10px;
        }
        a {
            font-style: italic;
        }
    }
}

.story_container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($phone) {
        width: 90%;
    }
    h1 {}
    .story-element-summary {
        font-family: $merri;
        font-weight: $bold;
        color: $grey;
        font-style: italic;
        margin: 0.85em em(0) 0.6em em(0);
        position: relative;
        float: left;
        @include breakpoint($phone) {
            font-size: 13px;
        }
    }
    .story-element-subtitle {
        font-family: $merri;
        font-weight: $bold;
        color: $grey;
        font-style: italic;
        margin: 0.7em em(0) 0em em(0);
        position: relative;
        float: left;
        width: 100%;
        @include breakpoint($phone) {
            font-size: 13px;
        }
    }
    .story-element-publisher {
        font-family: $merri;
        font-weight: $bold;
        color: $grey;
        font-style: italic;
        margin-bottom: em(20);
        position: relative;
        float: left;
        a {
            color: #006187;
        }
        @include breakpoint($phone) {
            font-size: 13px;
            float: none;
        }
    }
    .text {
        font-family: $merri;
        position: relative;
        float: left;
        width: 100%;
        p {
            font-family: $merri;
            font-size: 16px;
            word-wrap: break-word;
            color: #333333;
            @include breakpoint($phone) {
                font-size: 14px;
            }
        }
        @include breakpoint($phone) {
            font-size: 14px;
        }
    }

    .storysource {
        position: relative;
        float: right;
        padding-bottom: 25px;
    }

}


.author {
    width: 100%;
    position: relative;
    float: left;
    border-top: 2px solid $light-gray;
    padding-top: 2em;
    margin: 2em 0em 1.8em 0;
    &__left {
        width: 130px;
        position: relative;
        float: left;
        img {
            width: 130px;
            height: 130px;
        }
        @include breakpoint ($phone) {
            img {
                width: 70px;
                height: 70px;
            }
            width:80px;
        }
    }
    &__right {
        /*padding-left:em(15);*/
        position: relative;
        float: left;
        width: 100%;
        h5 {
            padding-top: em(5);
            color: #026287;
            padding: em(5) 0 em(5) 0;
            text-transform: capitalize;
        }
        p {
            color: $grey !important;
            font-family: $sans;
            font-size: em(14);
        }
        @include breakpoint ($phone) {
            width: 100;
            padding-left: em(5);
            h5 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}


/*Author*/

.storyad {
    width: 300px;
    margin: em(20) auto em(16) auto;
    img {
        width: 100%;
    }
    @include breakpoint ($pc) {
        width: 560px;
    }
}

.story-element-youtube-video {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: em(25);
    margin-bottom: em(15);
    height: 0;
    embed,
    iframe,
    object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.embed_content {
    visibility: hidden;
}

.storysectionname {
    @include breakpoint($pc) {
        margin-top: em(10);
    }
}

.storybottom {
    margin-bottom: em(50);
}

.mobshow {
    display: none;
    @include breakpoint($pc) {
        display: block;
    }
}

.publisher_info {
    position: relative;
    float: left;
    width: 100%;
}

.card {
    overflow: hidden;
}
