.card {
  overflow: hidden;
  width: 100%;
}
.media-right {
  .story-element-image {
    float: right;
    // width: 400px;
  }
}
.media-left, .media-right {
  .story-element-image {
    width: 400px;
    margin-top: 27px;
    margin-right: 20px;
  }
  .story-element-text {
    float: none;
  }
}
