.sub-section-page {
 @include breakpoint ($tablet) {
   padding: 0 12px;
 }
}

.lead-story {
position: relative;
overflow: hidden;
font-size: em(22);
font-weight: $bold;
padding: 0 12px;
   @include breakpoint ($pc) {
      padding: 0;
      margin-bottom: em(30);
    }
}

.lead-story-content-container {
   margin-bottom: 20px;
   @include breakpoint($pc) {
     float: right;
     @include span( last 6);
     padding-left: 10px;
 }

.article__title {
    font-size: em(12);
    @include breakpoint($pc) {
       font-size: em(12);
    }
  }
.article__desciption {
  font-size: em(10);
  margin-bottom: 20px;
 }
}

.author-name-description {
     font-size: em(10);
     color: $grey;
     @include breakpoint($pc) {
        font-size: em(10);
      }
  }

.lead-story-right-container {
    @include breakpoint ($pc) {
      @include span(8);
    }
}

.lead-story-image-container {
   margin-bottom: em(20);
   @include aspect-ratio(34,25);
   @include breakpoint($pc) {
      float: left;
      @include span(first 6);
   }
}

.lead-story-left-container {
   display: none;
   @include breakpoint($pc) {
     display: block;
     @include span( last 4);
     background-color: $grey;
   }
 }

.article-grids {
   @include aspect-ratio(16,9);
   margin-bottom: em(15);
   @include breakpoint($pc) {
       @include gallery(4);
       clear: none !important;
    }
}

.lead-story__add-box {
   background-color: $grey;
   font-size: em(16);
   width: 300px;
   height: 250px;
}

.sections-right {
  display: none;
  @include breakpoint($pc) {
     display: block;
     float: right
   }
}

.sections-add-right {
   background-color: $grey;
   font-size: em(16);
   width: 300px;
   height: 600px;
   margin-top: 20px;
}

.top-stories__grid {
   position: relative;
   overflow: hidden;
   font-weight: $bold;
   margin: em(10) 0;
   @include breakpoint($pc) {
      margin: em(40) 0;
    }
 }

.grid__article {
 h4 {
    font-size: em(13);
    margin-top: em(15);
  }
}

.title-recent-stories {
     padding-bottom: 10px;
     border-bottom: 3px solid $dark-gray;
     margin-bottom: 20px;
}
