.lead-story {
position: relative;
overflow: hidden;
font-size: em(22);
font-weight: $bold;
padding: 0 12px;
   @include breakpoint ($pc) {
      padding: 0;
      margin-bottom: em(30);
    }
}

.lead-story-content-container {
   margin-bottom: 20px;
   @include breakpoint($pc) {
     float: right;
     @include span( last 6);
     padding-left: 10px;
 }

.article__title {
    font-size: em(12);
    @include breakpoint($pc) {
       font-size: em(12);
    }
  }
.article__desciption {
  font-size: em(10);
  margin-bottom: 20px;
 }
}

.author-name-description {
     font-size: em(10);
     color: $grey;
     @include breakpoint($pc) {
        font-size: em(10);
      }
  }

.lead-story-right-container {
    @include breakpoint ($pc) {
      @include span(8);
    }
}

.lead-story-image-container {
   margin-bottom: em(20);
   @include aspect-ratio(7,5);
   @include breakpoint($pc) {
      float: left;
      @include span(first 6);
   }
}

.lead-story-left-container {
   display: none;
   @include breakpoint($pc) {
     display: block;
     @include span( last 4);
     background-color: $grey;
   }
   .ads-box-small {
    float:right;
    text-align: right;
   }
 }
.lead-story-left-container__bg-tranparent {
  background-color: transparent;
}
.article-grids {
   @include aspect-ratio(16,9);
   margin-bottom: em(15);
   @include breakpoint($pc) {
       @include gallery(4);
       clear: none !important;
    }
}

.lead-story__add-box {
   font-size: em(16);
   width: 300px;
   height: 250px;
}

.sections-right {
  display: none;
  @include breakpoint($pc) {
     display: block;
     float: right
   }
}

.sections-add-right {
   background-color: $grey;
   font-size: em(16);
   width: 300px;
   height: 600px;
   margin-top: 20px;
}

.top-stories__grid {
   position: relative;
   overflow: hidden;
   font-weight: $bold;
   margin: em(10) 0;
   @include breakpoint($pc) {
      margin: em(40) 0;
    }
 }

.grid__article {
 h4 {
    font-size: em(13);
    margin-top: em(15);
  }
}

.title-recent-stories {
     padding-bottom: 10px;
     border-bottom: 3px solid $dark-gray;
     margin-bottom: 20px;
}

.story-listing-loadmore {
    display: flex;
    width: 100%;
    &__bottom-story-list {
        @include breakpoint($pc) {
            width: calc(60% - 25px);
            margin-right: 25px;
        }
        .wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
            @include breakpoint($pc) {
                padding: 15px 0px;
            }
            .article_left {
                width: 100%;
                @include breakpoint($tablet) {
                    width: 40%;
                    margin-right: 25px;
                }
                @include breakpoint($pc) {
                    width: 40%;
                    margin-right: 25px;
                }
            }
            .article_right {
                width: 100%;
                margin: 0px;
                padding: 0px;
                @include breakpoint($tablet) {
                    width: calc(60% - 25px);
                }
                @include breakpoint($pc) {
                    width: calc(60% - 25px);
                }
                .article__title {
                    font-family: $proxima;
                    font-size: em(18);
                    color: $dark-gray;
                    font-weight: $regular2;
                    line-height: em(24);
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    &__bottom-story-list-rightads {
         display: none;
         margin-top: em(20);
         @include breakpoint($pc) {
            display: block;
            float: right;
            text-align: right;
            padding-left: em(80);
            width: 40%;
            margin-bottom: 20px;
        }
    }
    .load-clearfix {
        display: block;
    }
}
