.footer-wrapper {
	background: $gray-dark;
	color: $white;
	font-size: em(11);
	@include breakpoint($tablet-small) { font-size: em(14); }

	.contact-info {
		padding: em(25);
		@include breakpoint($tablet-small) {
			display: flex;
			justify-content: space-around;
			padding: em(40) 0 em(30);
		}
	}

	.contact-info__about {
		@include breakpoint($tablet-small) { position: relative};
		.about-header {
			@include breakpoint($tablet-small) { 
				position: absolute;
				left: em(140);
				text-transform: uppercase;
			}
		}
	}

	.footer-logo--wrapper { display: inline; }
	.footer-logo {
		float: left;
		margin-right: em(10);
		background: url('logo/iga_logo.png');
		display: inline-block;
		width: em(56, $fontsize-halfjumbo); 
		height: em(56, $fontsize-halfjumbo);
		background-size: contain;
		@include breakpoint($tablet-small) { 
			width: em(142, $fontsize-halfjumbo);
			height: em(142, $fontsize-halfjumbo); 
		}
	}

	.about-us {
		float: left;
		@include breakpoint($phone) { margin-top: em(10); }
		p { 
			font-size: em(12); 
			&:last-child { color: $brand-primary; }
			@include breakpoint($tablet-small) { 
				padding-top: em(16);
				&:nth-child(2) { padding-top: em(50); } 
			}
		}
	}

	.contact-info__social {
		@include breakpoint($phone) { 
			clear: both; 
			margin-top: em(30);
			padding-top: em(10);
		}

		.social-header { text-transform: uppercase; }

		ul { 
			padding: 0; 
			margin-top: em(10); 
			@include breakpoint($tablet-small) { margin-top: em(20); }
			li {
				list-style: none;
				display: inline-block;
				padding: 0 em(20);
				&:first-child { padding-left: 0; }
				@include breakpoint($only-phone-tablets) { padding: 0 em(10); }
				.social-share {
					display: inline-block;
					width: em(24);
					height: em(24);
					background-size: contain !important;
				}
				.facebook-icon { background: url('icons/facebook.svg'); }
				.twitter-icon { background: url('icons/twitter.svg'); }
				.google-icon { background: url('icons/google.svg'); }
				.linkedin-icon { background: url('icons/linkedin.svg'); }
			}
		}
	}

	.copyright-info {
		clear: both;
		text-align: center;
		padding: em(15) 0;
		background: $black;
		.copyright { font-size: em(12); }
		a { font-size: em(13); opacity: 0.5; }
	}
}