.header {
    background-color: $white;
    height: 100px;
    vertical-align: inherit;
    line-height: 3px;
    color: $light-blue;
    .sub_section_stories {
        display: none;
        position: relative;
        z-index: $zIndex-1;
        padding-top: 20px;
    }
    &__top-row {
        position: relative;
    }
}

.header-logo {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-top: 5px;
    @include breakpoint ($pc) {
        float: left;
        &:after {
            content: "";
            border-left: 1px solid $light-gray;
            position: absolute;
            height: 45px;
            top: 5px;
            right: 0;
            bottom: 5px;
        }
    }
    &:focus {
        outline: none;
    }
}

.site-logo {
    display: block;
    background: transparent url(q-demo-logo.svg) no-repeat center center;
    width: 88px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}

.breaking-news {
    width: 100%;
    height: 40px;
    background-color: $base-blue;
    border-bottom: 5px solid $light-blue;
    &__title {
        @include span(3);
        height: 40px;
        background-color: $light-blue;
        color: $white;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.5px;
        z-index: $zIndex-1;
        position: relative;
        @include breakpoint($phone) {
            height: 40px!important;
        }
        @include breakpoint($pc) {
            @include span(2);
        }
        &__text {
            font-size: 12px;
            line-height: 1.3;
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            text-align: center;
            @include breakpoint($phone) {
                top: 21%;
            }
            @include breakpoint($tablet) {
                font-size: 16px;
            }
        }
    }
    &__headlines {
        @include span(9);
        height: 40px;
        margin-right: 0;
        padding: 15px 10px 5px;
        color: $white;
        @include breakpoint($pc) {
            @include span(10);
            margin-right: 0;
        }
    }
    &__headline {
        display: inline-block;
        float: left;
        padding: 0 20px;
        position: relative;
    }
}

.header-social-icon {
    display: none;
    @include breakpoint ($pc) {
        display: inline;
        float: right;
        margin-top: 18px;
        li {
            display: inline;
            padding: 0 10px;
        }
    }
}

.menubarimg {
    cursor: pointer;
    background: transparent url(icons/burger-menu.svg) no-repeat center center;
    width: 25px;
    height: 25px;
}

.mobile-menu {
    display: inline-block;
    margin-bottom: 13px;
    margin-left: 5px;
    @include breakpoint($pc) {
        display: none;
    }
}

.menuitems {
    display: none;
    position: absolute;
    background-color: $white;
    z-index: 200;
    left: 50%;
    top: 40px;
    padding: 5px 15px;
    width: 200px;
    @include breakpoint($phone) {
        left: 0;
        top: 60px;
        padding: 5px 15px;
        width: 100%;
        background-color: lighten($white, 20%);
        li {
            a {
                display: block;
                width: 100%;
                line-height: 40px;
                color: $dark-gray;
                &:hover,
                &:focus {
                    color: $base-blue;
                }
            }
        }
    }
    @include breakpoint($only-phone-tablets) {
        left: 0;
        top: 60px;
        padding: 5px 15px;
        width: 100%;
        background-color: lighten($white, 20%);
        li {
            a {
                display: block;
                width: 100%;
                line-height: 40px;
                color: $dark-gray;
                &:hover,
                &:focus {
                    color: $base-blue;
                }
            }
        }
    }
    &__item {
        position: relative;
        float: left;
        border-top: 1px solid rgba($light-blue, 0.5);
        width: 100%;
        display: block;
        height: auto;
        a {
            color: $dark-gray;
            font-family: $proxima;
            padding: em(15) 0 em(15) 0;
            letter-spacing: 1px;
            position: relative;
            float: left;
            font-weight: $bold;
            font-size: 12px;
            display: block;
            height: auto;
            line-height: 20px;
        }
        a:hover,
        a:active {
            color: $base-blue;
        }
        &:first-child {
            border-top: 0px;
        }
    }
}

.desktop-menu {
    display: none;
    @include clearfix();
    @include breakpoint($pc) {
        float: left;
        width: auto;
        height: auto;
        display: block;
        &__container {
            @include clearfix();
        }
        &__item {
            float: left;
            padding: 27px 15px;
            > a {
                font-size: 13px;
                font-weight: 600;
                color: $grey;
                text-transform: uppercase;
                letter-spacing: 0.3px;
            }
            &:hover {
                background-color: $blue-gray;
                > a {
                    color: $white;
                }
                .desktop-submenu {
                    left: 0;
                    &__wrapper {
                        @include translateY(0);
                    }
                }
            }
        }
        &__all-text {
            color: $light-blue !important;
            float: left;
            padding: 27px 15px 21px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            cursor: pointer;
            img {
                width: 25px;
                height: 20px;
                margin-bottom: -5px;
                margin-top: -6px;
            }
        }
    }
}

.desktop-submenu {
    position: absolute;
    z-index: $zIndex-2;
    width: 100%;
    top: 100%;
    left: -700rem;
    overflow: hidden;
    &__wrapper {
        padding: 20px 0;
        min-height: 310px;
        background-color: $blue-gray;
        @include translateY(-100%);
        @include transition(transform .4s ease);
    }
    &__content {
        @extend .content;
    }
    &__container {
        @include clearfix();
    }
    &__item {
        margin: 10px;
        float: left;
        position: relative;
        display: inline-block;
        margin-bottom: 2px;
        &:before {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $white;
            display: block;
            position: absolute;
            left: 0;
            bottom: -2px;
            @include scaleX(0);
            @include transition(transform .2s ease);
        }
        &.active {
            &:before {
                @include scaleX(1);
            }
        }
        a {
            font-size: 13px;
            font-weight: 600;
            color: $white;
            line-height: normal;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.submenu-stories-container {
    .section-container {
        @include clearfix();
        position: absolute;
        left: -800rem;
        opacity: 0;
        @include transition(opacity .6s ease);
        &.active {
            position: static;
            left: auto;
            opacity: 1;
        }
        &.loaded {
            .story,
            .no-results-msg {
                @include scale(1);
                opacity: 1;
            }
        }
    }
    .story {
        @include gallery(1 of 5);
        margin-top: 20px;
        @include scale(0);
        opacity: 0;
        @include transition(all .4s ease);
        &__image {
            width: 100%;
            height: 100px;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &__title {
            font-size: 12px;
            line-height: normal;
            color: $white;
            margin: 5px 0;
        }
    }
    .no-results-msg {
        font-size: 14px;
        color: $white;
        line-height: normal;
        font-style: italic;
        margin: 40px 0;
        display: inline-block;
        @include scale(0);
        opacity: 0;
        @include transition(all .4s ease);
    }
}

.mob_buttons {
    float: right;
    line-height: 45px;
    margin-top: 7px;
    ul {
        padding: 0;
    }
    ul li {
        float: left;
    }
    ul:nth-child(1) {
        margin-top: -3px;
    }
    @include breakpoint($pc) {
        display: none;
    }
}
