.top-story__carousel {
    margin: em(30) 0;
}
.hero-image {
    @include aspect-ratio (16,9);
}
.slick-slide img {
    margin: 0 auto;
}
.stacks__popular {

    &_images {
        @include aspect-ratio (16,9);
    }

    &--stories {
        overflow: hidden;
    }
    &-story {
        margin: em(20) 0;
        position: relative;
        @include breakpoint($pc) {
            @include span(4);
        }
    }
    &--story-title h4 {
        font-size: em(15);
    }
    &--story-section {
        color: $brand-primary;
        text-transform: uppercase;
        font-size: em(11);
        margin: em(10) 0;
    }
}
.sidebar__stack {
    @include breakpoint($pc) {
        display: block;
        max-width: 315px;
        @include span(last 4);
    }
}
.container-left {
    width: auto;
    @include breakpoint($pc) {
        @include span(8);
        overflow: auto;
    }
}

.author-name {
    border-right: em(1) solid;
    margin-right: em(5);
    padding-right: em(5);
}
#search-text {
    width: 20em;
    float: right;
    overflow: auto;
    margin: 10px 0;
    font-style: italic;
}

.stacks__popular-story:hover  >  .storyshare__icons {
    top: em(0);
    right: em(6);
    opacity: 0.7;
}

.section__stories__images:hover  >  .storyshare__icons {
    top: em(0);
    right: em(6);
    opacity: 0.7;
}