.layout-template {
    figure {
        margin: 0px;
        padding: 0px;
    }
    &__top {
        width: 100%;
        margin: 0px 0px 10px 0px;
        @include breakpoint($pc) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        h1 {
            font-size: em(22);
            color: $light-blue;
            font-family: $proxima;
            font-weight: $regular2;
            margin-top: 0px;
            text-transform: uppercase;
            letter-spacing: em(1);
            width: 100%;
            margin: 20px 0px 15px 0px;
            padding-left: 15px;
            @include breakpoint($pc) {
                padding-left: 0px;
            }
        }
        &__left {
            width: 100%;
            @include breakpoint($pc) {
                width: calc(60% - 25px);
            }
            &__img-container {
                position: relative;
                @include aspect-ratio (23, 11);
            }
            &__summary {
                padding: 10px;
                @include breakpoint($pc) {
                    padding: 0px;
                }
                h3 {
                    font-family: $proxima;
                    font-size: em(25);
                    margin-top: 10px;
                    margin-bottom: 5px;
                    color: darken($dark-gray, 20%);
                    font-weight: $bold;
                }
                p {
                    font-family: $proxima;
                    font-size: em(14);
                    color: lighten($dark-gray, 10%);
                }
            }
            &-date {
                font-family: $proxima !important;
                font-size: em(12)!important;
                color: darken($light-gray, 20%)!important;
                margin-top: 10px;
                font-weight: $regular2;
                span {
                    &::after {
                        content: " ";
                        display: inline-block;
                        width: 1px;
                        height: 16px;
                        top: 3px;
                        left: 2px;
                        position: relative;
                        margin: 0px 5px;
                        border-right: 1px solid #ddd;
                    }
                }
            }
        }
        &__right {
            width: 100%;
            padding: 10px;
            @include breakpoint($pc) {
                width: 40%;
                padding: 0px;
            }
            @include breakpoint($tablet) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
            }
            &__row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
                margin-bottom: 25px;
                @include breakpoint($tablet) {
                    width: calc(50% - 10px);
                }
                @include breakpoint($pc) {
                    width: 100%;
                }
                &__left {
                    width: 100%;
                    @include aspect-ratio (29, 16);
                    @include breakpoint($pc) {
                        width: 35%;
                    }
                }
                &__right {
                    &-heading {
                        font-family: $proxima;
                        font-size: em(14);
                        color: $dark-gray;
                        font-weight: $regular2;
                        line-height: em(24);
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin-top: 7px;
                        @include breakpoint($pc) {
                            margin-top: 0px;
                        }
                    }
                    &-date {
                        font-family: $proxima;
                        font-size: em(12);
                        color: darken($light-gray, 20%);
                        margin-top: 7px;
                        font-weight: $regular2;
                        span {
                            &::after {
                                content: " ";
                                display: inline-block;
                                width: 1px;
                                height: 16px;
                                top: 3px;
                                left: 2px;
                                position: relative;
                                margin: 0px 5px;
                                border-right: 1px solid #ddd;
                            }
                        }
                    }
                    @include breakpoint($pc) {
                        width: calc(65% - 15px);
                    }
                }
            }
        }
    }
    &__bottom {
        width: 100%;
        margin: 20px 0px 20px 0px;
        padding: 10px;
        @include breakpoint($tablet) {
            padding: 0px;
        }
        &__row-mar-fix {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: flex-start;
            justify-content: flex-start;
            @include breakpoint($tablet) {
                flex-direction: row;
                margin-left: 0px;
                margin-right: 0px;
            }
            @include breakpoint($pc) {
                flex-direction: row;
                margin-left: -12px;
                margin-right: -12px;
            }
        }
        &__box {
            margin-bottom: 20px;
            margin-top: 20px;
            width: 100%;
            @include breakpoint($tablet) {
                width: calc(50% - 24px);
                margin-right: 12px;
                margin-left: 12px;
            }
            @include breakpoint($pc) {
                width: calc(25% - 24px);
                margin-right: 12px;
                margin-left: 12px;
            }
            &__img-container {
                @include aspect-ratio (46, 25);
            }
            &__img-overlay {
                h4 {
                    font-family: $proxima;
                    font-size: em(14);
                    color: $dark-gray;
                    font-weight: $regular2;
                    line-height: em(24);
                    margin-top: 7px;
                }
            }
        }
    }
    .load-more {
        left: 50%;
        margin: 0px 0px 20px 0px;
        margin-left: -87px;
        color: $light-blue;
    }
    .story-listing-loadmore {
        display: flex;
        width: 100%;
        &__bottom-story-list {
            @include breakpoint($pc) {
                width: calc(60% - 25px);
                margin-right: 25px;
            }
            .wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px;
                @include breakpoint($pc) {
                    padding: 15px 0px;
                }
                .article_left {
                    width: 100%;
                    @include breakpoint($tablet) {
                        width: 40%;
                        margin-right: 25px;
                    }
                    @include breakpoint($pc) {
                        width: 40%;
                        margin-right: 25px;
                    }
                }
                .article_right {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    @include breakpoint($tablet) {
                        width: calc(60% - 25px);
                    }
                    @include breakpoint($pc) {
                        width: calc(60% - 25px);
                    }
                    .article__title {
                        font-family: $proxima;
                        font-size: em(18);
                        color: $dark-gray;
                        font-weight: $regular2;
                        line-height: em(24);
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .date-story-list {
                        font-family: $proxima !important;
                        font-size: em(14)!important;
                        color: darken($light-gray, 20%)!important;
                        margin-top: 15px;
                        font-weight: $regular2;
                        span {
                            &::after {
                                content: " ";
                                display: inline-block;
                                width: 1px;
                                height: 16px;
                                top: 3px;
                                left: 2px;
                                position: relative;
                                margin: 0px 5px;
                                border-right: 1px solid #ddd;
                            }
                        }
                    }
                }
            }
        }
        &__bottom-story-list-rightads {
            @include breakpoint($pc) {
                width: 40%;
            }
        }
        .load-clearfix {
            display: block;
        }
    }
}
