<div class="story-element-{{ dataElement['subtype'] }}">
     {% if dataElement['metadata']['attribution'] != null %}
        <h2>{{ dataElement['metadata']['attribution'] | raw }}</h2>
     {% endif %}
     <div class="context">
        <p>{{ dataElement['metadata']['content'] | raw }}</p>
     </div>
</div>
