.story-element-quote {
  padding: em(10) 0;
  width: 100%;
  margin: 10px 0 10px 0;
  position: relative;
  float: left;
  blockquote {
    margin: 0;
    position: relative;
    font-weight: $bold;
    color: $grey;
    float: left;
    width: 100%;
    font-size: 14px;
    p {
      font-weight: $bold;
    }
    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0px;
      top: 0;
      background: url("http://xplorethoughts.com/demo/quote.svg")no-repeat center center;
      background-size: cover;
      zoom: 2;
      width: em(12);
      height: em(10);
      @include breakpoint($pc) {
        zoom: 3;
        width: em(12);
        height: em(10);
      }
    }
    @include breakpoint($pc) {
      font-size: em(17);
      line-height: 28px;
    }
  }
  .attribution {
    color: $dark-blue;
    text-transform: capitalize;
    float: right;
    padding-right: em(10);
    font-size: em(12);
    font-style: italic;
    font-weight: $bold;
    text-align: right;
    @include breakpoint($pc) {
      font-size: em(14);
      margin-bottom: em(20);
    }
  }
}
