<div class="content"><!-- content open-->

    <section>
         <h3 class="line-title top-title">ABOUT US</h3>
    </section>

    <!-- <div class="video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BK9n3EubwQU" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <div class="statictext about">

        <p class="highlights">Q: What is the Climate Desk?</p>
        <p class="answer">A:Climate Desk is a journalistic collaboration dedicated to exploring the impact—human, environmental, economic, political—of a changing climate. The partners are The Atlantic, CityLab, Fusion, Grist, The Guardian, The Huffington Post, Medium, Mother Jones, the New Republic, Newsweek, Reveal, Slate, and Wired.</p>

        <p class="highlights">Q: Why collaborate on a project about the climate?</p>
        <p class="answer">  A: Because even though it’s a fascinating and important story, it hasn’t been told very well.
        </p>

        <p class="highlights">Q: Why not?</p>
        <p class="answer">A:  There are several reasons: 1) Climate change is slow-moving, vast, and overwhelming for news organizations to grapple with. 2) What coverage there is tends to be fractured and compartmentalized—science, technology, politics, and business aspects are covered by different teams, or “desks” of reporters, despite the intrinsic connections. 3) Cuts to news organizations are making matters worse.</p>

        <p class="highlights">Q:So what’s the advantage to collaborating?</p>
        <p class="answer"> A:For one thing, more hands on deck and more outlets mean we can do more coverage, bringing our various strengths and audiences to bear. For another, given the transformation of the media business, collaboration seems to be part of the future of journalism. This project has enriched our own understanding of the issue, and that can only be a benefit to our readers.</p>

        <p class="highlights">Q: How do I contact you?</p>
        <p class="answer"> A: General inquiries can be sent to James West, <span class="highlights">jwest@theclimatedesk.org </span>, or Jeremy Schulman,<span class="highlights">jschulman@climatedesk.org</span>. Media inquires can be sent to <span class="highlights">press@climatedesk.org</span>.</p>

        <p class="highlights">Q: Who works on Climate Desk?</p>
        
        <p class="highlights editors">Jeremy Schulman</p>
        <p class="answer">
        Jeremy is Climate Desk’s Senior Project Manager and is based in Mother Jones’ Washington, DC, bureau. He was previously editor-in-chief of The American Independent and research and investigative director at Media Matters for America.
        </p>

        <p class="highlights editors">James West</p>
        <p class="answer">
        James is Mother Jones’ senior digital editor and Climate Desk producer. He’s the author of Beijing Blur (Penguin 2008), an account of modernizing China’s underground youth scene. After completing a masters in journalism at New York University in 2007, James returned to his native Australia where he worked as the executive producer of the national affairs program Hack at the ABC. He now lives in Brooklyn.
        </p>
        
        <p class="highlights editors">Natalie Schreyer</p>
        <p class="answer">
            Natalie is a fellow at Climate Desk and Mother Jones’ Washington, DC, bureau. She received her master's degree in journalism and public affairs from American University. She lived a previous life as a fashion journalist in Buenos Aires, Argentina, where she spent four years reporting on the city's local designers. She has also freelanced for Racked, Lonely Planet, Air Canada's enRoute, and SFC&G magazine. She grew up in the Bay Area, and received her bachelor's degree in history from the University of Southern California.
        </p>

    </div>