<div class="content">
    <div class="author-page">
        <section class="author-page__image-section">
            <div class="author-details">
                <div class="author-image">
                    {% if authorDetails['avatar-url'] %}
                    <figure>
                        <img src="{{authorDetails['avatar-url']}}" />
                    </figure>
                    {% else %}
                    <figure>
                        <img src="{{ assetPath('main/default_author.svg') }}" />
                    </figure>
                    {% endif %}
                </div>
                <div class="author-name">
                    <h2>{{authorDetails['name']}}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                </div>
            </div>
        </section>
        <section class="author-page__stories-section">
            <div class="author-stories">
                {% include "story/elements/stories_list_horizontal" with {'stories': authorStories} %}
            </div>
        </section>
        {% include "story/elements/loadmore" %}
    </div>
</div>
<script type="text/javascript">
qtReady.push(function() {
    app.loadMoreStories('#loadmore', '.author-stories', {{ params | json_encode | raw}}, 'search');
})
</script>
