<div class="content">
  <div class="noresults">
    <div class="title"> No Results Found</div>
    <div class="text1">Please try again </div>
    <div class="text1">
            <form class="search-form" role="search" action="/search">
                <div class="form-el">
                    <input type="text" id="nores" class="form-input" name="q" placeholder="Search for anything..">
                </div>
            </form>
      </div>
  </div>
