<div class="content"><!-- content open-->
    

    <div class="statictext ">
     <h3 class="line-title top-title">PRIVACY POLICY</h3>
        <p>  The <i>ClimateDesk.org</i> website is operated by the nonprofit Foundation for National Progress (the "Foundation").</p>
        <p> The Foundation provides ClimateDesk.org  to you subject to the terms of this Privacy Policy. By registering with or using ClimateDesk.org  site (the "Site"), you accept and agree to this Privacy Policy.</p>
        <p> 
            We respect your privacy. We allow you to "opt out" of providing us with certain information. However, choosing to share information with us will help make your experience at <i>ClimateDesk.org </i> and other interactions with us more pleasant and successful for you, and will help us to continue providing outstanding investigative journalism.
        </p>
        <p>
            Most of the information we collect on our website is aggregated to track general patterns, such as browser and platform usage and overall traffic patterns. We use name, address, and email information primarily to deliver items you request, such as magazines or email newsletters. We may also use your email address to remind you to renew your subscription, notify you about new products or upcoming events, or send you donation appeals and sponsored messages with offers from other organizations. You may always opt out of receiving these communications.</p>
        <p> 
            Upon request, we provide our users, including subscribers to the magazine, with access to any personally identifiable information that we maintain about them. Users may correct this information or have themselves removed from any list of users or subscribers that we may share with others by contacting us by postal mail at our San Francisco office or by email. (For more information on contacting us, please see below.) </p>
        <p class="highlight">
            1. CHANGES TO PRIVACY POLICY AND REVISION DATE</p>
        <p>
            This Privacy Policy may change from time to time. The Revision Date below will show you when the Privacy Policy was last revised. By continuing to use this Site, you agree to all terms of the most recent version of this Privacy Policy.</p>
        <p>
            This Privacy Policy was last revised on <B>September 09, 2016</B>.</p>
        <p class="highlight">
            2. HOW WE USE YOUR EMAIL ADDRESS</p>
        <p>
            If you provide your email address through ClimateDesk.org, for example to make a donation, we may use your email address to send you occasional messages about our projects or ways 
            that you can support <I>Climate Desk</I>. </p> 
        <p>
            You may opt out of receiving these communications by contacting us at the postal or email address below with your request, along with your full name, address, and email address. In addition, electronic messages to you will provide you with the opportunity to opt out of receiving similar messages in the future. For information on how to opt out, see Section 9 below.</p>
        <p class="highlight">
            3. SITE USAGE INFORMATION: COLLECTION AND USE BY THE FOUNDATION</p>
        <p>
            The Site uses cookies. (A cookie is a small amount of data—sent to your browser from a web server and stored on your computer's hard drive—that may be accessed when you use a website.) Most web browsers are initially set up to accept cookies, but you can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, certain features of the Site may not work if you delete or disable cookies.</p>
        <p>
            In addition, when you visit the Site, some basic technical information may be collected by us or by a third party that provides us with Site usage information, including your IP address, domain name (e.g., whether you logged on from AOL.com or WhiteHouse.gov), referral data (e.g., the address of the last website you visited prior to clicking through to the Site), and browser and platform type (e.g., a Firefox browser on a Macintosh platform).</p>
        <p>
            Information about users and usage of the Site may be merged into aggregated data, which may then be used by the Foundation and/or shared with our advertisers and others. We generally receive only aggregate information about Site usage, which is not linked to any identifiable individual. If we provide aggregated information to outside companies, they will not be able to identify you or contact you based on that data. We will not disclose personally identifiable information about you, except to the degree that you disclose it through your comments or Profile Page, or as provided in this Privacy Policy, or with your permission.</p>
        <p class="highlight">
            4. USAGE INFORMATION: USE BY ADVERTISERS AND OTHERS
        </p>
        <p>
            The Site includes advertisements placed by advertisers or ad networks. These companies use technology to deliver advertisements you see on the Site and other websites directly to your Web browser. In doing so, they automatically receive your IP address. Companies that place advertising on the Site also have the ability to use cookies or Web beacons to collect information, such as your "click stream" (your viewing and/or purchasing behavior) and information about your usage of the Site. Additionally, other companies may also use and track this type of information for <i>Climate Desk </i>to provide and improve the Site, to provide tailored services to you, and for other purposes. We do not control the processes that advertisers and other companies use to collect information. However, cookies and web beacons alone generally cannot be used to identify individuals, only computers. Therefore, these companies generally will not know who you are unless you provide additional information to them, by responding to an advertisement, by entering into an agreement with the company, by creating an account with the company, or by some other means. Our systems do not recognize browser "Do Not Track" signals, but several of our service providers who utilize these cookies or web beacons on the Site enable you to opt out of targeted advertising practices. To learn more about these advertising practices or to opt out of this type of advertising, you can visit www.networkadvertising.org and www.aboutads.info/choices. We also provide you with additional tools to opt out of marketing from us. You can learn about this in Section 11 below.
            The Site may also contain links to sponsor, advertiser, or other third-party websites that are not owned or controlled by the Foundation. We have no control over, and we assume no responsibility for, the conduct, practices, or privacy policies of others. You should review the privacy polices of the companies who operate those websites.
        <p class="highlight">
            5. INFORMATION REGARDING SUBSCRIBERS AND DONORS
        <p>
            When you subscribe to our magazine (either the print or the digital edition), subscribe to our online newsletter, or make a donation, you may provide us with your name, physical address, and email address. You may also provide credit card account information. 
            The Foundation does not retain or use any credit card or other financial account information. That information is conveyed to third-party payment services, and is used only to clear the payment for your subscription or donation. When sending or receiving credit card information, we automatically direct users to a secure transaction server. 
        <p>
            When you subscribe, we use the information you provide to deliver the magazine or newsletter, and to send you periodic reminders to renew your subscription. We may also use it to contact you about new products or upcoming events, to send you donation appeals, or to send you sponsored messages with offers from other organizations. In addition, we may share your information with reputable companies who may contact you via mail or email with products or services we think will be of interest to you. If you do not wish to receive such communications, you can contact us at the postal address below with your request, along with your full name, address, and email address. In addition, electronic messages to you will provide you with the opportunity to opt out of receiving similar messages in the future.
        </p>
        <p>
            When you donate, we use the information you provide to process your donation. Online donations made to <i>Climate Desk </i>are processed by ICN or PayPal. We do not share your name, address, email address, or any other personally identifiable information about your donation with anyone else. If you provide us with your postal address or email, we will use that information for the purpose of delivering any benefit or information you have requested, such as your magazine subscription, newsletter, or other premium content. We may also use that information to send you occasional messages about our projects or ways that you can support <i>Climate Desk</i>. If you do not wish to receive such communications, you can write to us at the postal or email address below with your request, along with your full name, address, and email address. In addition, electronic messages to you will provide you with the opportunity to opt out of receiving similar messages in the future.</p>
        <p class="highlight"> 
            6. CHILDREN'S PRIVACY</p>
        <p>
            Protecting the privacy of young children is important to us. For that reason, we do not collect or maintain information at our Site from those we know are younger than 13, and no part of our Site is designed to attract anyone younger than 13. If you are younger than 13, you should not submit or post any personal information on our Site.</p>
        <p class="highlight">
            7. DISCLOSURE OF PERSONAL INFORMATION</p>
        <p>
            We will not use or disclose your personal information (personally identifiable data such as your name, email address, password, and the content of your communications) except: (1) as described in our Terms of Service or this Privacy Policy; (2) after obtaining your permission to a specific use or disclosure; (3) if we are required to do so in order to comply with any valid legal process or governmental request (such as a court order, a search warrant, a subpoena, a civil discovery request, or a statutory requirement); or (4) as otherwise required by law.</p>
        <p class="highlight">
            8. NOTICE TO CALIFORNIA RESIDENTS—YOUR CALIFORNIA PRIVACY RIGHTS</p>
        <p>

            As set forth in this Privacy Policy, we offer our visitors the ability to opt out of sharing your personally identifiable information with third parties for their direct marketing purposes. To make such a request, please contact us at <a href="mailto:support@motherjones.com" >support@motherjones.com</a>  and clearly state your request, including your name, mailing address, email address, and phone number. Please see Section 11 of this Privacy Policy for additional information.</p>
        <p class="highlight">
            9. ASKING QUESTIONS, MAKING CHANGES, OR OPTING OUT</p>
        <p>
            If you have questions about this Privacy Policy or about our privacy practices, or if you want to review and correct any personal information we may have about you, please contact us at <a href="mailto:privacy@motherjones.com" >privacy@motherjones.com</a>, with "Privacy" in the subject line. </p>
        <p>
            If you want to opt out of receiving messages regarding new products or upcoming events, requests for donations, messages about our projects or ways that you can support Climate Desk, or advertisements from our partners, please write to us with your request, including your full name, address, and email address, at:</p>
        <p>
            Foundation For National Progress<br>
            222 Sutter Street Suite 600<br>
            San Francisco, CA 94108
        </p>
        <p>
            You may also email your request to support@motherjones.com. If you send us an email, please write "Unsubscribe" in the subject line. In addition, electronic messages to you will provide you with the opportunity to opt out of receiving similar messages in the future.
        </p>

    </div>