<div class="content">
    <div class="layout-template">
        <div class="layout-template__top">

            <div class="layout-template__top__left">
                <div class="layout-template__top__left__img-container">
                 <h1>Section heading</h1>
                    <a href="#"><img src="http://placehold.it/615x315" alt=""></a>

                </div>
                <div class="layout-template__top__left__summary">
                    <h3> <a href="#">What is Lorem Ipsum?</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="layout-template__top__right">
                <div class="layout-template__top__right__row">
                    <div class="layout-template__top__right__row__left">
                        <a href="#"><img src="http://placehold.it/350x250" alt=""></a>
                    </div>
                    <div class="layout-template__top__right__row__right">
                        <h3 class="layout-template__top__right__row__right-heading"> <a href="#">What is Lorem Ipsum?</a></h3>
                        <p class="layout-template__top__right__row__right-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industr </p>
                        <p class="layout-template__top__right__row__right-date">February 9, 2016, 4:59 pm</p>
                    </div>
                </div>
                <div class="layout-template__top__right__row">
                    <div class="layout-template__top__right__row__left">
                        <a href="#"><img src="http://placehold.it/3500x250" alt=""></a>
                    </div>
                    <div class="layout-template__top__right__row__right">
                        <h3 class="layout-template__top__right__row__right-heading"> <a href="#">What is Lorem Ipsum?</a></h3>
                        <p class="layout-template__top__right__row__right-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <p class="layout-template__top__right__row__right-date">February 9, 2016, 4:59 pm</p>
                    </div>
                </div>
                <div class="layout-template__top__right__row">
                    <div class="layout-template__top__right__row__left">
                        <a href="#"><img src="http://placehold.it/350x250" alt=""></a>
                    </div>
                    <div class="layout-template__top__right__row__right">
                        <h3 class="layout-template__top__right__row__right-heading"> <a href="#">What is Lorem Ipsum?</a></h3>
                        <p class="layout-template__top__right__row__right-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <p class="layout-template__top__right__row__right-date">February 9, 2016, 4:59 pm</p>
                    </div>
                </div>
                <div class="layout-template__top__right__row">
                    <div class="layout-template__top__right__row__left">
                        <a href="#"><img src="http://placehold.it/350x250" alt=""></a>
                    </div>
                    <div class="layout-template__top__right__row__right">
                        <h3 class="layout-template__top__right__row__right-heading"> <a href="#">What is Lorem Ipsum?</a></h3>
                        <p class="layout-template__top__right__row__right-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <p class="layout-template__top__right__row__right-date">February 9, 2016, 4:59 pm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-template__bottom">
            <div class="layout-template__bottom__box">
                <div class="layout-template__bottom__box__img-container">
                    <a href="#"><img src="http://placehold.it/350x300" alt=""></a>
                </div>
                <div class="layout-template__bottom__box__img-overlay">
                    <h4> <a href="#">What is Lorem Ipsum?</a></h4>
                </div>
            </div>
            <div class="layout-template__bottom__box">
                <div class="layout-template__bottom__box__img-container">
                    <a href="#"><img src="http://placehold.it/3500x300" alt=""></a>
                </div>
                <div class="layout-template__bottom__box__img-overlay">
                    <h4> <a href="#">What is Lorem Ipsum?</a></h4>
                </div>
            </div>
            <div class="layout-template__bottom__box">
                <div class="layout-template__bottom__box__img-container">
                    <a href="#"><img src="http://placehold.it/350x300" alt=""></a>
                </div>
                <div class="layout-template__bottom__box__img-overlay">
                    <h4> <a href="#">What is Lorem Ipsum?</a></h4>
                </div>
            </div>
            <div class="layout-template__bottom__box">
                <div class="layout-template__bottom__box__img-container">
                    <a href="#"><img src="http://placehold.it/350x300" alt=""></a>
                </div>
                <div class="layout-template__bottom__box__img-overlay">
                    <h4> <a href="#">What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum?</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->
