<div class="content"><!-- content open-->

    <div class="statictext">
   <h3 class="line-title top-title">TERMS OF SERVICE</h3>
        <p> <span class="extrabold"> Welcome to the <i> Climate Desk </i> website </span>. Please read these terms of service carefully. They contain important information regarding your legal rights, remedies, and obligations, including how the content you provide can be used and how any disputes will be resolved.</p>

        <p class="highlight">1. REVISION DATE</p>

       <p> These Terms of Service were last revised on  <span class="extrabold"> September 09, 2016</span>. </p>

        <p class="highlight">2. ACCEPTANCE OF TERMS</p>
        <p>The nonprofit Foundation for National Progress (“Foundation”) provides the <i>ClimateDesk.org</i> website to you subject to the following Terms of Service ("TOS"). By registering with or by using the <i>ClimateDesk.org</i> site (the “Site”), and in exchange for the Foundation’s agreement to provide the Site to you, you agree to be bound by these TOS. The TOS may be revised from time to time. We will indicate at the beginning of the TOS when they were last revised. Your continued use of the Site constitutes your agreement to all terms of the most recent TOS.  </p>
        <p>You must be at least thirteen (13) years of age to use the Site. Any registration by, use of, or access to the Site by anyone under 13 is unauthorized, unlicensed, and in violation of these TOS. By using the Site, you represent and warrant that you are at least 13 years old.</p>
        <p>The Foundation reserves the right to refuse access to the Site or to any other service or product provided by the Foundation, without notice, at any time, and for any reason.</p>

        <p class="highlight">3. PROVISION AND MODIFICATION OF SERVICE</p>
        <p>
            The Site includes software, services, content, and advertising provided by the Foundation. However, some of the content of the Site is provided by users who submit or post content on the Site. In addition, the Site includes advertising placed by advertisers and ad networks. The Foundation takes no responsibility for such content. </p>
        <p>
            You understand and agree that the Site is provided to you on an AS IS and AS AVAILABLE basis. The Foundation disclaims all responsibility for the availability, timeliness, security, or reliability of the Site or any feature or software included in the Site. The Foundation also disclaims all responsibility for the acts or omissions of third parties whose services, software, content, or advertising may be utilized in connection with the Site. You agree that the Foundation shall not be liable for any such faults.</p>
        <p>
            The Foundation reserves the right at any time to modify or discontinue, temporarily or permanently, the Site (or any part thereof) with or without notice. The Site also may be subject to interruptions, caused by the Foundation or others. You agree that the Foundation will not be liable for any modification, suspension, interruption, or discontinuance of the Site.</p>


        <p class="highlight">4. CONDITIONS ON USE OF THE SITE</p>
        <p>
            The Foundation grants you permission to access and use the Site as set forth in these TOS, and in exchange you agree as follows:</p>
        <p>1. You will access and use the Site solely for your own personal use;</p>
        <p>2. You will not use the Site in any illegal manner or for any illegal purpose, in any other manner that could damage, disable, overburden, or impair the Site, or in any manner inconsistent with these TOS;</p>
        <p>3. You will not defeat or interfere with any security feature of the Site, or attempt to do so;</p>
        <p>4. You will not alter or modify any content or component of the Site, other than content you have submitted to or posted on the Site;</p>
        <p>5. You will not reproduce, duplicate, copy, sell, trade, resell, or exploit, for any commercial purpose, any content, component, or feature of the Site without the prior written permission of the Foundation, except for content you have submitted to or posted on the Site, or content which you have the prior written permission of the owner to use;</p>
        <p>6. You will not use any automated system, software, or device to generate and send unsolicited communications to or through the Site; </p>
        <p>7. You will not collect or harvest any personally identifiable information, including without limitation account names or email addresses, from the Site, nor use the communication systems provided by the Site for purposes of sending any commercial solicitation;</p>
        <p>8. You will not upload, post, transmit, share, or otherwise make available any material that contains software viruses or any other computer code designed to interfere with the functionality of or obtain any nonpublic information from any computer software or hardware or telecommunications equipment; and</p>
        <p>9. You will not harass or intimidate any other user of the Site. </p>

        <p class="highlight">5. RIGHTS TO AND USE OF THE CONTENT ON THE SITE</p>
        <p>
            Except for User Content, all content and components of the Site (Climate Desk Content”), including without limitation, the software, text, photos, video and audio content, graphics, and features, and all trademarks, service marks, and logos contained therein, are owned by or licensed to the Foundation, subject to any copyrights or other intellectual property rights held by others pursuant to law. The Foundation reserves all rights to the Climate Desk Content and any other component or content of the Site not expressly granted to you by these TOS.
           </p>

        <p class="highlight">6. OBJECTIONABLE OR INAPPROPRIATE CONTENT</p>
        <p>
            By its very nature, the Site may include offensive, harmful, inaccurate or otherwise offensive or objectionable material. In some cases, the Site may include content that has been mislabeled or is otherwise deceptive. Please use caution and common sense and exercise proper judgment when using <i>ClimateDesk.org</i>. The Foundation does not endorse, support, represent, or guarantee the truthfulness, accuracy, or reliability of any content appearing on the Site at the direction of others. The Foundation does not endorse any opinions expressed by others on the Site. You acknowledge that any reliance on material appearing on the Site will be at your own risk.</p>
        <p>
            The Foundation will not routinely review or revise content submitted to or posted on the Site by others. However, the Foundation may read any such content, and reserves the right to refuse to distribute any such content, to remove any content from the Site, or to edit any content, in its sole discretion.</p>
        <p>
            If you find content appearing on the Site that you believe violates these TOS, or that is offensive or otherwise objectionable, you may inform the Foundation by sending a message to feedback (at) motherjones (dot) com. Be sure to type "Feedback" in the subject line. The Foundation will review your message and the content to which you object (assuming it is still on the Site). We may remove the content if, in our judgment, it is inappropriate. However, please understand that deciding whether content is inappropriate is a judgment call, and that the Foundation is not legally responsible for content that it does not originate. Neither is the Foundation legally responsible for keeping content that it deems inappropriate off of the Site.</p>
        <p>
            If content you have submitted is not published or is removed, please review these TOS and understand that the value of the Climate Desk website is, to a large extent, based on providing an experience that is both enlightening and pleasant for the people who use the Site. 
            </p>
            <p>
            The Foundation reserves the right to access, read, preserve, and disclose any information it reasonably believes is necessary to do any of the following: (1) satisfy any applicable law, regulation, legal process, or governmental request; (2) enforce these TOS, including investigation of potential violations hereof; (3) detect, prevent, or otherwise address fraud, security, or technical issues; (4) respond to user support requests; or (5) protect the rights, property, or safety of the Foundation, its users, or the public. You agree that the Foundation will not be liable for exercising or failing to exercise any of these rights.</p>

        <p class="highlight">7. OTHER INTELLECTUAL PROPERTY RIGHTS</p>
        <p>
        The Foundation respects the intellectual property rights of others. When we receive notification of alleged copyright infringement that complies with the Digital Millennium Copyright Act (17 U.S.C. § 512, the “DMCA”), we promptly remove or disable access to the allegedly infringing material.
        </p>
        <p>If you are a copyright owner or an agent thereof and you believe that any content on the Site infringes upon your copyrights, you may submit a notice to the postal and email addresses below.</p>

        <p> Foundation for National Progress<br>
            Attention: Copyright Compliance<br>     
            222 Sutter Street, Suite 600<br>
            San Francisco, CA 94108
            </p>

        <p> Claims may also be sent by email to copyright (at) motherjones (dot) com, with "Copyright" in the subject line.</p>

        <p class="highlight">8. SPONSORS, ADVERTISERS, AND THIRD PARTIES</p>
        <p>
            The Site may contain links to sponsor, advertiser, or other third-party websites that are not owned or controlled by the Foundation. Inclusion of, linking to, or permitting the use or installation of any third-party site, applications, software, content, or advertising does not imply approval or endorsement thereof by the Foundation. The Foundation has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third parties. </p>
        <p>
            Your correspondence or dealings with, or participation in promotions of, sponsors, advertisers, or other third parties found on or through the Site, are solely between you and such third parties. You agree that the Foundation shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such sponsors, third parties, or advertisers on the Site.</p>

        <p class="highlight">9. PRIVACY</p>
        <p>
            As a condition of using the Site, you agree to the terms of the <a target="_blank" href="/privacy-policy">Climate Desk Privacy Policy</a>, which may be updated from time to time, as expressed in the most recent version that exists at the time of your use. You agree that the Foundation may access or disclose your personal information, including the content of your communications, if we are required to do so in order to comply with any valid legal process or governmental request (such as a court order, search warrant, subpoena, civil discovery request, or statutory authorization), or as otherwise provided in these TOS or the Climate Desk  Privacy Policy.</p>

        <p class="highlight">10. COPYRIGHT</p>
        <p>
            The Foundation respects the intellectual property rights of others. We prohibit users from uploading, posting, or otherwise transmitting materials that violate the intellectual property rights of others. When we receive notification of alleged copyright infringement that complies with the Digital Millennium Copyright Act (17 U.S.C. § 512, the “DMCA”), we promptly remove or disable access to the allegedly infringing material. We also terminate the accounts of repeat infringers. </p>
        <p>
            If you are a copyright owner or an agent thereof and you believe that any content on the Site infringes upon your copyrights, you may submit a notice by following the directions on our <a target="_blank" href="http://www.motherjones.com/about/copyright-policy">Copyright Policy page</a>.</p>

        <p class="highlight">11. DISCLAIMER OF WARRANTIES</p>
        <p>
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT: <BR>YOUR USE OF THE SITE IS AT YOUR SOLE RISK. THE SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. THE FOUNDATION EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT.</p>
        <p>
            In particular, and without limitation, the Foundation makes no warranty that (1) the Site will meet your requirements; (2) the Site will be uninterrupted, timely, secure, or error free; (3) the results that may be obtained from the use of the Site will be accurate or reliable; (4) the quality of any products, services, information, or other material purchased or obtained by you through the Site will meet your expectations; (5) any errors in the contents or components of the Site will be corrected; or (6) that the Site is free of viruses or other harmful components.</p>
        <p>
            No advice or information, oral or written, obtained by you from the Foundation shall create any warranty not expressly stated in these TOS.</p>

        <p class="highlight">12. LIMITATION OF LIABILITY</p>
        <p>
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE FOUNDATION SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES (EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM THE USE OF OR THE INABILITY TO USE THE SITE.</p>
        <p>
            In particular, and without limitation, the Foundation will have no liability for damages arising from (1) accessing, downloading, or otherwise obtaining any content or component of the Site, even if it results in the inadvertent transfer of harmful computer code, such as viruses, malware, or spyware; (2) unauthorized access to or disclosure or alteration of your transmissions or data; (3) statements or conduct of any third party on the Site; or (4) as otherwise provided in these TOS.</p>

        <p class="highlight">13. EXCLUSIONS AND LIMITATIONS</p>

        <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS ON LIABILITY AND DAMAGES MAY NOT APPLY TO YOU.</p>

        <p class="highlight">14 . INDEMNIFICATION</p>

        <p>You agree to hold harmless and indemnify the Foundation, and its subsidiaries, affiliates, officers, agents, and employees from and against any third-party claim arising from or in any way related to your use of the Site, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs, and attorneys' fees, of every kind and nature. The Foundation will make reasonable efforts to provide you with written notice of any such claim, suit or action, but the failure of the Foundation to provide such notice will not relieve you of these obligations.</p>

        <p class="highlight">15. GENERAL SEVERABILITY</p>

        <p>If any provision of the TOS is found to be invalid or unenforceable, the parties agree that the provision will be enforced to the maximum extent permissible, the arbitrator or court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect. </p>

        <div>CHOICE OF LAW</div>
        <p>The agreement created by these TOS, and any dispute arising from or relating to these TOS or the provision or use of the Site, will be governed by the laws of the State of California, without giving effect to its conflict of laws provisions.</p>

        <div>ARBITRATION AND VENUE</div>
        <p>The parties hereby expressly waive trial by jury in any action, proceeding, or counterclaim brought by either of the parties against the other on any matters whatsoever arising out of or related to these TOS or the provision or use of the Site (“Claim”). The parties agree to submit any Claim to binding arbitration, to be held in San Francisco, California. In the event any Claim is mutually agreed by the parties or deemed by a court not to be subject to arbitration, it will be submitted to the state or federal courts sitting in San Francisco, California, and the parties agree that they are and will be subject to the personal jurisdiction of those courts.</p>

        <div>NONWAIVER</div>
        <p>The failure of the Foundation to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision.  </p>

        <div>LIMITATION OF LEGAL ACTIONS</div>
        <p>You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the TOS, or the provision or use of the Site, must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>

        <div>ENTIRE AGREEMENT</div>

        <p>These TOS, together with the Climate Desk Privacy Policy, constitute the entire agreement between you and the Foundation and govern your use of the Site, superseding any prior agreements between you and the Foundation. You also may be subject to additional terms and conditions that may apply when you use or purchase certain products or services, including third-party products or services.</p>

        <P>I HAVE READ AND UNDERSTAND THESE TERMS OF SERVICE, AND I AGREE TO BE BOUND BY THEM.</P>