.story-element-bigfact {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $bigFact-border;
  border-radius: em(20);
  padding: 0px 30px 20px;
  h2 {
    font-size: em(20);
    line-height: 1.6;
    font-weight: $bold;
    color: $light-blue;
  }
  .bigfact-descrription {
    p {
      color: $grey;
      font-size: em(17);
      font-weight: $bold;
    }
  }
}
