.story-element-blockquote {
  word-wrap: break-word;
  position: relative;
  margin-bottom: 20px;
  float: left;

  blockquote {
    font-size: em(28);
    color: $grey;
    padding-left: em(8);
    font-family: $merri;
    font-weight: 400;
    margin-left: 0;
    border-left: em(3) solid $dark-blue;
  }

   .attribution {
      color: $dark-blue;
      text-transform: capitalize;
      float: right;
      padding-right: em(10);
      font-size: em(20);
      font-family: $merri;
      font-weight: $bold;
      display: inline-block;
    }

}
