.story-element-q-and-a {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;

  p {
    font-size: em(26);
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: em(10);
    color: $dark-blue;
  }

 .answer {
    p {
      color: $grey;
      font-family: $merri;
      font-size: em(22);
      margin: 0;
      padding-left: em(10);
      font-weight: 100;
    }
  }
}
