.story-element-summary {
  font-style: italic;
  position: relative;
  font-weight: $bold;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  margin: em(10) 0 em(10) 0;
    p {
      font-size: em(16);
      line-height: 1.6;
      margin-bottom: em(10);
      color: $dark-blue;
    }
    ul li {
          list-style: none;
    }
    ol li {
         list-style: none;
    }
}
