.story-element-summary {
  position: relative;
  .snapshot-icon {
    position: absolute;
    right: 20px;
    top: -2px;
    font-size: 32px;
    color: $white;
    &-plus{
      top: -3px;
      right: 17px;
    }
  }

  .snapshot-header h5 {
    background-color: $blue-gray;
    padding: 7px 15px;
    font-size: 25px;
    font-weight: 700;
    color: $white;
    letter-spacing: 1px;
  }

  .snapshot-text {
      padding: em(15) em(35);
      border: 1px solid $blue-gray;
    ol, ul , li{
      list-style: disc;
    }
    li {
      margin-bottom: em(10);
    }
  }

  .hide {
    display: none;
  }
}
