.story-element-image-gallery {
  overflow: hidden;
  &__image {
    @include gallery(4);
  }
}
.story-element-references {
    word-wrap:break-word;
    text-align:left;
    font-family: $merri;
    width:100%;
    position: relative;
    float: left;
    p{
        font-family: $merri;
        color:#333333;
        font-weight:$regular;
        font-size:16px;
        margin: em(10) 0 em(10) 0;
        a{ color:$light-blue;}
        @include breakpoint($phone) {
          font-size: em(13);
        }
     }
   b{
      font-weight:$bold;
    }
 }

.story-element-soundcloud-audio{
    word-wrap:break-word;
    text-align:left;
    width:100%;
    position: relative;
    float: left;
}
