
@import "vendor/susy/susy"; // Susy Grid http://susy.oddbird.net/
@import "vendor/breakpoint/breakpoint"; //Breakpoint SASS http://breakpoint-sass.com/
@import "colors";
@import "layout";
@import "base/_grids";
@import "base/_mixins";
@import "base/_typography";
@import "base/_z-index-scale";
@import "story/_story";
@import "static";
@import "podcast";
/*@import "slick/slick";
@import "slick/slick-theme";*/
@import "slider";




@include border-box-sizing;



main {
    @include container;
    background-color: $color1;
}


.header {
    padding: 1px;;
    background-color: $white;
    height: 50px;
    vertical-align: inherit;
    line-height: 3px;
    color: $light-blue;

}
.logo { 
    float: left;
    font-size: 1.5rem; 
    line-height: 2.2em;
    margin-left: 1em;
    @include breakpoint($phone)
    {

        margin-left:em(5);
    }
}

.logoview{
    width:180px;
    height:30px;

    @include breakpoint($phone){
       width: 120px;
       height:22px;
    }
}

ul li{
    list-style: none;
    text-decoration:none;
    font-family:$primary-typeface;	
}
.patners{
    #slider{display:none;}
    @include breakpoint($phone) {

        height:100px;
        #slider{display:block;}
        #clientsdesk{display:none;}
        #slider img { 
            width:200px; 
            height:125px; 
            margin:0px; 
            display:inline-block  
        }

        #slider li {
            width:210px
        }
    }


}
.patners ul li{ float:left;}

nav	{

    float:right;
    li {
        float: left;
        margin-left: 1em;
        line-height: 3em;
    } 
    @include breakpoint($phone) {
        @include span(12);
        display:none;
    }

}
.menubarimg{
    display: inline;
    float: left;
    margin-top: 10px;
    @include breakpoint($phone){
        margin-left:em(5);
        margin-top:em(14);

    }
}
.menuitems{
    padding:15px;
    background-color: $white;
    width:200px;
    position:absolute;
    margin-left:-1px;
    /*top: em(30);*/
    z-index:$zIndex-2;
    display:none;
    ul {
        padding:0;
    }
    ul li a{
        font-family: $sans;
        padding:em(15) 0 em(15) 0;
        letter-spacing: 1.5px;
        color:#6a6a6a;
        position:relative;
        float:left;
        font-weight: $bold;
        font-size: 16px;    
        display: block;
        height:auto;
                line-height:20px;
        @include breakpoint ($phone){
            font-size: em(12);


        }

    }

    ul li{
        position:relative;
        float:left;
        border-top:1px solid $light-blue;
        width: 100%;
        display: block;
         height:auto;
        

    }

    ul li :first{
        border-top:0px;
    }

}

.menubarimg:hover    .menuitems{
    display: block;
}

.fill {
    background-color: $light-blue;
    color: $white;
    padding: 4px;
}


.mob_buttons{
width:45%;
float:right;
line-height: 45px;
ul li{
    float:left;
}
  @include breakpoint($pc){
        display:none;
    }

}

.donate {
    background-color: $light-blue;
    color: $white;
    font-size:13px;
    font-weight:$bold; 
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    padding: 5px 15px 5px 15px;
    @include breakpoint($phone){
        font-size: 8px;
        margin-right:5px;
        padding:em(7) em(5) em(6) em(5);
    }
}
.search_butn {
    color: $light-blue;
    background-color: $white;   
    border:1px solid $light-blue;    
    font-size:13px;
    font-weight:$bold; 
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    padding: 5px 15px 5px 15px;
      @include breakpoint($phone){
        font-size: 8px;
        padding:em(7) em(5) em(6) em(5);
    }
    


}



.sectionname__display {
    background-color: $light-blue;
    color: $white;
    top: 0;
    padding: 5px;
    font-weight: $bold;
    text-transform: uppercase;
    z-index: 1;
    float: left;
    font-size: 12px;
    position: absolute;
    letter-spacing: em(1.5);
}

.leftcontainer{
    @include span(9);	
    @include aspect-ratio(16,9);
    padding: em(0);
    background-image:url("main/1.jpg");
    padding-right: em(2);
    @include breakpoint($phone) {
        @include span(12);
        @include aspect-ratio(1,1);
        padding: em(0);
        margin-bottom:10px;
    }

}

.rightcontainer{
    @include span(3 last);
    @include aspect-ratio(16,9);
    padding:0em;
    @include breakpoint($phone) {
        @include span(12);
    }

}

.rightitem{
    float:left;
    width:100%;
    @include aspect-ratio(16,9);
    margin-top:5px;
    padding-left:em(6);

    .sectionname__display {
    font-size: 8px;
    
}

}

.rightitem:first-child{ margin-top:0;}




.sourcetop {
    color: $white;
    bottom: 10px;
    padding-right: 5px;
    font-style: italic;
    text-transform: capitalize;
    z-index: 1;
    float: left;
    text-align:right;
    position: absolute;
    right:0;
    font-size:10px;
}


.titletop_big{
    position: absolute;
    bottom:0;
    color: $white;
    font-weight:$black-weight;
    padding-left:10px;
    font-family:$primary-typeface;	
    z-index: 1;
    float: left;
    text-align:left;
    padding-bottom:5%;
    font-size:em(20);

    @include breakpoint($phone) {
        bottom:10px;
        font-size:em(16);
    }

}
.titletop_small {
    position: absolute;
    bottom:5px;
    color: $white;
    font-weight:bold;
    padding: 5px;
    text-transform: capitalize;
    z-index: 1;
    float: left;
    text-align:left;
    padding-bottom:5%;
    font-size:em(12);
}

.sourcetop_left{
    position: absolute;
    right:0;
    color: $white;
    bottom: 10px;
    padding-right:10px;
    font-style: italic;
    text-transform: capitalize;
    z-index: 1;
    float: right;
    text-align:right;
   
        font-size:  em(12);
    

}

.sectionname__unique {
    background-color: $light-blue;
    color: $white;
    font-size:16px;
    top: 0;
    padding: 8px 10px 10px 8px;
    font-weight: $bold;
    text-transform: capitalize;
    z-index: 1;
    margin-bottom:10px;
}

.empty {
    color: $light-blue;
    background-color: $white;
    padding: 4px;
    border:1px solid $light-blue;
}
.menubar {
    margin-right:5px;
     @include breakpoint($phone){
        width:22px;
        height:22px;
        margin-left:12px;
    }
}


section {
    margin-top:10px;
    @include clearfix();
}
.section {
    margin-top:10px;
}
.sectionwrap{
    padding-top:0;
}
.unique{
    background-color:#eef6fc;
    margin-bottom: 40px;
    position:relative;
    article{
        background-color:$white;
    }
}
.nob{
    padding-top:30px;
    border:none;
}


.uniquesec{ margin-bottom:30px; }

.sectiontitle {	 
    color:$heading-blue;
    font-size:24px;
    font-weight:$bold;
    text-transform:capitalize;
    width:100%; 
    border-bottom: 1px solid $light-gray;
    line-height:0.1em; 
    margin:10px 0 20px; 
    text-align:center;
    letter-spacing: 1px;
    span { background:#fff; padding:0 10px; }
} 

.static{
    margin:em(10) 0 em(10) 0;
    border-bottom: 1px solid $heading-blue;  
    label { background:inherit; padding:0 10px;  letter-spacing: 1.5px; }
}


.left { text-align:left !important;}

.wrap{
    width:100%;
    position:relative;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}
.leftbig {
    @include span(8);
    padding: 0em;
    /*background-color: $color5;*/
    padding-right:1em;
    padding-top:0.4em;
    @include breakpoint($phone) {
        @include span(12);
    }
}

.rightsmall {
    @include span(4 last);
    padding: 0em;
    /*background-color: $color5;*/
    @include aspect-ratio(16,9);
    @include breakpoint($phone) {
        @include span(12);
    }
}

.rightsmall__title{
    color: $dark-gray;
    font-size: em(18);
    font-weight: $black-weight;
    padding-bottom:10px;
}


.footer {
    clear: both;
    /*padding: 1em;*/
    background-color: #343434;
    height:auto;
}
.footerblock{

    @include span(4);
    padding-top:1.5em;
    color: $white;
    @include breakpoint($phone) {
        @include span(12);
        text-align:center;
        ul{padding:0em; margin:0em;}
       
    }
    .textwrap {
    font-size: 12px;
    padding: 0;
     ul li a{
            padding:5px;
            text-decoration:none;
            display:inline-block;
            letter-spacing: 0.8px;
        }
}


}
.footerblock:first-child{ padding-top:1em;}

.footer-short{
    padding:5px;
    width: 100%;
    background-color: $footer-short;
    color: $white;
    font-size: 12px;
    .content{
        margin-left: auto;
        margin-right: auto;
    }

}
.border{border: 1px solid $light-gray; }


article {
    @include span(4);
    /*background-color: $light-gray;*/
    @include aspect-ratio(16,9);
    @include breakpoint($phone) {
        @include span(12);
        padding:1em;
    }

}
article:nth-child(1){
    padding-left:0;
    padding-right:5px;
    @include breakpoint($phone) {
        padding:1em;
    }
}
article:nth-child(2){
    padding:0;
    @include breakpoint($phone) {
        padding:1em;
    }}
article:nth-child(3){
    padding-right:0;
    padding-left:5px;
    @include breakpoint($phone) {
        padding:1em;
    }
}
article:nth-child(4){
    padding-right:0;
    padding-left:5px;
    @include breakpoint($phone) {
        padding:1em;
    }
}

.sourcefrom {
    font-style: italic;
    text-align: right;
    font-size: $fontsize-smaller;
    padding-bottom:10px;
    padding-right:5px;
}


.textwrap {
    margin:em(12) 0 em(5) 0;
    padding:em(12);
    font-family:$primary-typeface;	
    /*background-color: $color5;*/
}

.article__title{
    position:relative;
    float:left;
    color: $dark-gray;
    font-size: 14px;
    font-weight: $black-weight;
   
    min-height:em(90);
    width: 100%;
    font-weight: $bold;


}
.article__desciption{
    color: $text;
    font-size: 12px;
    font-weight:$regular;
    padding-bottom:10px;
    min-height: 79px;
    position:relative;
    float:left;

}

.textbottom_left{
    width:100%;
    position:absolute;
    float:left;
font-size:12px;
padding:em(10) 0 em(20) 0;
bottom:0;
z-index: $zIndex-2;
   @include aspect-ratio(16,9);
    img{
        position: relative;
        float:left;
height:18px;
width:100px;
padding:em(3);
border-right:1px solid $light-gray;
    }
    .textbottom__article__name{

        color: $white;
        border:0;
        padding-left: em(10);
        padding-right: em(10);
        font-size: em(14);
    }


}

.textbottom{
    width:100%;
    position:relative;
    float:left;
font-size:12px;
padding:em(10) 0 em(10) 0;
}

.textbottom__article{
    padding-right:5px;
    border-right:1px solid $light-gray;
    line-height: 15px;
    @include aspect-ratio(16,9);
    img{
        position: relative;
        float:left;
height:22px;
width:25%;
    }
    /*border-right:1px solid #000;*/
    color: $dark-gray;
  
    font-family: $merri;  

    time {
        font-weight:$bold;
        letter-spacing: 0.2px;
        font-size: 10px;
        padding-left:em(5);
    }


}
.textbottom__article:last-child {
    border:none;	
}

.textbottom__article__name{
    color: $light-blue;
    display: inline-block;
    font-family: $merri;     
    font-size: em(16);
    padding:0 em(10) 0  em(5) ;
    border-right:1px solid $light-gray;
}
/*
.article {
        dflajdlajds;
        &__byline {
        sfjasofjakl}
}

*/

.more{
    color:$light-blue;
    font-size:18px;
    margin-bottom:10px;
    padding-bottom:15px;
    float:right;
    text-decoration:underline;
    padding-right:5px;
}


.vedicon img{
    opacity:1;
    width:40px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25%;
    position:absolute;
}

.figcontainer{
    position:relative;
    float:left;
    width:100%;
}



.article__tag-heading
 {

font-size: em(14);
 font-weight: 800;   
 letter-spacing: 1.5px;
  padding: em(3) em(5) em(3) em(5);
    color: $white;
    background-color: $light-blue;
     white-space: nowrap;
    margin: em(10) 0 em(15) 0;
       text-transform: uppercase;
    vertical-align: middle;

}

.article__tags {
    display: inline-block;
    margin: 0 auto;

    @include breakpoint($pc) {
        margin: em(5) 0 em(5) 0;
    }

    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        color: $grey;
        font-size: em(13);
    }
    li {
        display: inline-block;
        border: 1px solid $grey;
        padding: 0 em(5);
    }

    a {
        font-size: em(14);
        font-family: $sans;
        cursor: pointer;

    }


}




/* Section 2 End*/


/*Search,tags,section article design Start*/
.article
{
    @include span(4);
    @include aspect-ratio(16,9);

.article__title{
    position:relative;
    float:left;
    color: $dark-gray;
    font-size: 14px;
    font-weight: $black-weight;
  
     min-height:em(90);
         font-weight: $bold;
}
.article__desciption{
    color: $text;
    font-size: 12px;   
    padding-bottom:10px;
    min-height: 79px;
    position:relative;
    float:left;
}


}
/*Search,tags,section article design End*/


.article_left{

    @include span(12);
    @include aspect-ratio(16,9);
    margin:0em em(10) em(10) 0em;

    @include breakpoint($small-pc) {
        @include span(4);
        padding:0em;
        
    }

}


.article_right{

    @include span(12);
    @include aspect-ratio(16,9);


    @include breakpoint($small-pc) {
        @include span(4);
        padding:0em;
        
    }

}


.section_left{

    @include span(12);
    @include aspect-ratio(16,9);
    


    @include breakpoint($small-pc) {
        @include span(8);
        padding:0em;
        figcontainer{
            height:360px;
        }
        
    }

}

.section_right{

    @include span(12);
    @include aspect-ratio(16,9);
   
   .wrap{border:1px solid $light-gray;}


    @include breakpoint($small-pc) {
        @include span(4);
        padding:0em;
         padding-left:1.3em;

         .wrap {
            margin:0;
         }
    }

}

.icons{
    padding-right:em(10);
}



/*Advertisement Start*/

.ad_big{
    width:em(728) ;
    height:em(90);
    color:$white;
    /*background-color: $light-gray;*/
    text-align:center;
    font-weight:$bold;
    margin:em(5) auto em(5) auto;
    @include breakpoint($phone){display:none;}
}

.ad_mobile{
    width:em(300) ;
    height:em(250);
  
    color:$white;
    /*background-color: $light-gray;*/
    text-align:center;
    font-weight:$bold;
    position:relative;
 
      margin:em(5) auto em(5) auto;
    @include breakpoint($pc){display:none;}
}

.section_right_ad{
    width:em(300) ;
    height:em(250);
  
    color:$white;
    /*background-color: $light-gray;*/
    text-align:center;
    font-weight:$bold;
      margin:em(5) auto em(5) auto;
      float:right;
    @include breakpoint($phone){display:none;}
}



.section_center_ad{
    width:em(300) ;
    height:em(250);
    
    color:$white;
    /*background-color: $light-gray;*/
    text-align:center;
    font-weight:$bold;
      margin:em(5) auto em(5) auto;
     position: relative;
     float: left;
    @include breakpoint($pc){display:none;}
}


/*Advertisement End*/

#searchbox{
    display: none;
}

.top{ margin-top:em(30); }

   .nav-search {
            display: none;
            position: absolute;             
            top: 7.5%;
            /*padding: .4em .5em 0;*/
            width: 100%;
            max-width: em(350);
            margin-right:10%;
            z-index: 99;

            @include breakpoint($pc) { right: 1em; }
            .layout-search {
                background-color: $white;
                border-radius: 2px;
                border:1px solid $light-blue;
                position: relative;

                &:before {
                    content:'';
                    width: 0; 
                    height: 0; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $light-blue;
                    
                    position: absolute;
                    top: -10px;
                    right: 15px;
                }
                .form-input{
                    height: em(25);
                    font-size: 100%;
                    width: 100%;
                    padding-left: em(40);
                    border: 0px;
                    /*background: url("../images/search-input-icon.png") no-repeat em(10) center;*/
                }
            }
        }