$white: #FFFFFF;
$black: #000000;

$light-gray: #ddd;

$dark-gray: #5e5e5e;
$footer-short: #000000;
$color5: #CC0066;
$color6: #031f38;

$base-blue: #0065A7;
$light-blue: #0D84D3; //section name background
$heading-blue: #0065A7;
$blue-gray: #5790b5;

$bigFact-border: rgba(13, 77, 226, 0.67);

$text: #736f6f;

// $black-opacity:rgba(0, 0, 0, 0.7);
$grey: #969696;
$dark-blue:#006187;

$question-blue: #026287;
$orange:#ff6900;
$small-heading:#2f2f2f;

// recipe page
$gold : #FFBB00;
