$light-gray: #ddd;
$color1: #FFFFFF;
$color2:#FFFFFF; 
/*#FF4CA5;*/
$white: #ffffff;
$dark-gray: #5e5e5e;
$footer-short: #000000;
$color5: #CC0066;
$color6: #031f38;
$light-blue: #29b8e5;
$text: #736f6f;
$black:#000000;
$black-opacity:rgba(0, 0, 0, 0.7);
$grey: #969696;
$dark-blue:#006187;
$heading-blue:#18a7b9;
$question-blue:#026287;


