@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700);
@import url(https://fonts.googleapis.com/css?family=Proxima+Nova:400,400italic,600,600italic,700,800,900);

$proxima : 'Proxima Nova', Helvetica, Arial, sans-serif ;
$sans: 'Open Sans', Helvetica,Arial, sans-serif;
$serif: 'expo-serif-pro', 'gerogia', serif;

$primary-typeface: $proxima;
$secondary-typeface: $sans;


body {
    /* background-color: $light-gray;*/
    margin: 0;
    font-family:$primary-typeface;
      -webkit-overflow-scrolling: touch;
     overflow: hidden;
        overflow-y: auto;
}

.page {
/*   background: $light-blue;
  background: -moz-linear-gradient(top, $light-blue 0%, rgba(179,220,237,1) 0%, rgba(255,255,255,1) 400px, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $light-blue), color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(179,220,237,1) 0%, rgba(255,255,255,1) 400px, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, $light-blue 0%, rgba(179,220,237,1) 0%, rgba(255,255,255,1) 400px, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, $light-blue 0%, rgba(179,220,237,1) 0%, rgba(255,255,255,1) 400px, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, $light-blue 0%, rgba(179,220,237,1) 0%, rgba(255,255,255,1) 400px, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat; */
  background : $white;
}

.content{
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  @include breakpoint($pc){
      border:0px ;
      max-width: 66rem;
  }

  @include breakpoint($phone){
      width: 100%;
      border: 1px;
  }

}


.layout-menu {
  float: left;
  min-width: 128px;
  display: none;

  @media (min-width: 768px) {
      display: block;
  }
}

.layout-content {
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
  .layout-menu {
    display: block;
    width: 20%;
  }
  .layout-content { width: 80%; }
}

.clear {
  clear: both;
}

$susy: (columns: 12, gutters: 0.18, debug: (image: show-columns));


.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .articles{
    width: span(4);
    margin-top: gutter();
    background-color: red;
  }
}
