.statictext{
    padding:1em;
    position: relative;

      @include breakpoint($phone) {
padding:0px;

      }
font-family: $merri; 
    p{ 
        font-family: $merri; 
        padding:em(6) 0 em(6) 0;
        font-size: em(14);
        color:#333333;
        font-weight: $regular;

    }
    .highlight{        
        color: $light-blue;
        text-transform: uppercase;
        font-family: $merri; 
        font-weight: $bold;
    }
    @include breakpoint($small-pc) {
        padding:0em;
        margin-bottom: em(60);
        p{       
            font-size: 16px;
        }
    }

}

.extrabold{
    font-weight: $black-weight;
    i {
          font-weight: $black-weight; 
    }
}
.about{
    margin-bottom: em(60);
     position: relative;
    
  
    .answer{
        padding: 0 0 20px 0;
        font-weight: $regular;
    }
    .highlights{
     font-weight: $bold;
         }
    .highlights,
    a{        
        color: $question-blue;
    }

    .people_name{
        font-family: $merri;
        font-size: 16px;
        text-align: left;
        padding-left:1em;
        color:$question-blue;;
        text-align: center;
        @include breakpoint($small-pc) {
            font-size: 20px;
            padding-left:0em; 
            text-align: center;
            font-weight: $bold;
        }


    }
    .people_info{
        width:100%;
        position:relative;
        float:left;
        padding: em(10) 0 em(10) 0;
        margin-bottom: em(30);

        .picture{
            position:relative;
            @include span(3);  
            margin-right:0;
            text-align: left;
            float:left;
            text-align:center;
            img{
                width:165px;
                height:165px;
                border-radius: 50%;
                margin-left:auto;
                margin-right:auto;
            }

            @include breakpoint($phone) {

                @include span(12);
                margin-left:auto;
                margin-right:auto;
            }
        }
        .individual_info{

            @include span(12);

            position:relative; 
            float:left;
            p{
                font-weight: $regular;
            }
            @include breakpoint($pc) {

                @include span(9);
                padding-left:2em;


            }

        }
    }




}


.allauthors{
margin:em(30) 0 em(40) 0;

}
.video{
    height:204px;    
    @include breakpoint($small-pc){
        height:560px;
        margin-bottom: em(40);
    }
}

.bgtest{
    position:left;
    height:300px;
    width:100%;
    float:left;
    border:1px solid red;
    /*background: transparent url(/climatedesk/assets/main/4.jpg) no-repeat center center;*/
       background: transparent url(/climatedesk/assets/main/4.jpg) no-repeat center center;

}