.story-element-image-gallery {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  &__image {
     @include gallery(4);
  }
}

.rslides_container_image_gallery {
   margin-bottom: 50px;
   position: relative;
   float: left;
 }
