.story-element-image-gallery {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  &__image {
    @include gallery(4 of 12);
    figure {margin: 0;}
  }
}

.slider_container_image_gallery {
   margin-bottom: 20px;
   position: relative;
   float: left;
 }
