.story-element-image-gallery {
  width: 100%;
  margin-bottom: 20px;
  @include breakpoint($tablet) {
      float: left;
  }
  &__image {
    @include gallery(12);
    float: none;
    @include breakpoint($tablet) {
       @include gallery(4);
    }
    figure {margin: 0;}
  }
}

.slider_container_image_gallery {
   margin-bottom: 20px;
   position: relative;
   float: left;
 }
