.story-element-image-gallery {
  width: 100%;
  margin: em(20) 0;
  @include clearfix();
  &__image {
    width: 100%;
    figure { margin: 0; }
    @include breakpoint($pc) {
        @include gallery(4);
      }
   }

   .story-element-image-gallery__caption{
         bottom: 21px;
         position: relative;
         background-color: rgba($black,0.7);
         font-size: em(10);
         padding-left: 5px;
         color: $white;
         z-index: $zIndex-1;
         word-wrap: break-word;
           @include breakpoint($pc) {
             font-size: em(12);
             bottom: 25px;
             width: 260px;
           }
      }
}

.story-element-image-gallery__image img {
    width: 100%;
    @include aspect-ratio(16,9);
    @include breakpoint($pc) {
        height: 147px;
        width: 260px;
      }
}
