.story-element-image {
  @include aspect-ratio(16,9);
  position: relative;
  float: left;
  width: 100%;
  margin: 20px 0;

  &__caption {
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: rgba($black,0.7);
    font-size: em(10);
    padding: em(5) em(15) em(5) em(15);
    color: $white;
    z-index: $zIndex-1;
    word-wrap: break-word;
      @include breakpoint($pc) {
         font-size: em(14);
      }
   }
}
