
.story-element-references {
    word-wrap: break-word;
    text-align: left;
    font-family: $merri;
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 20px;
    p {
        font-family: $merri;
        color: #333333;
        font-weight: $regular;
        font-size: 16px;
        a { color: $light-blue; }
            @include breakpoint($phone) {
            font-size: em(13);
        }
     }
 }
