
.image-slideshow-slider {
     position: relative;
     width: 100%;
     margin: 20px  auto ;
     float: left;
     @include aspect-ratio(16,9);
     figcaption {
        position: absolute;
        bottom: 0px;
        font-size: em(10);
        padding-left: em(5);
        background-color: rgba($black,0.7);
        width: 100%;
        color: $white;
        @include breakpoint($pc) {
          padding: em(5) em(15) em(5) em(15);
          font-size: em(12);
        }
      }
  }
  // .image-slideshow-slider img {
  //     display: block;
  //     height: 220px;
  //     float: left;
  //     width: 100%;
  //
  //     @include breakpoint($pc) {
  //       height: auto;
  //       float: left;
  //       width: 100%;
  //     }
  //   }
