.story-element-soundcloud-audio {
    width: 100%;
    position: relative;
    margin: em(20) 0;
    @include breakpoint($pc) {
        width: 100%;
        position: relative;
        iframe {
           width: 100%;
           height: 400px;
       }
    }
}
