.story-element-text {
  word-wrap: break-word;
  text-align: left;
  font-family: $merri;
  width: 100%;
  margin: em(20) 0;
  position: relative;
  p {
    font-family: $merri;
    font-weight: $regular;
    font-size: em(16);
    a {
      color: $light-blue;
    }
    @include breakpoint($phone) {
      font-size: em(13);
     }
   }
   ul li {
         list-style-type: disc;
         margin-left: 20px;
   }
   ol li {
         list-style-position: inside;
   }
}
