.story-element-title {
  word-wrap: break-word;
  text-align: left;
  font-weight: $bold;
  color : $question-blue;
  font-family: $merri;
  width: 100%;
  position: relative;
  float: left;
  margin: 10px 0px;
  p {
    font-family: $merri;
    font-weight: $regular;
    font-size: em(13);
    @include breakpoint($pc) {
      font-size: em(16);
    }
  }
  &-bullet {
    font-size: 1em;
  }
}
