<div class="clear"></div>
<div class='footer-short'>
    <div class="content">
        <center>&copy; Copyright 2016 - Quintype demo |
            <a target="_blank" href="http://www.quintype.com/">
                Powered by Quintype</a>
        </center>
    </div>
</div>
