<div class="clear"></div>
<div class='footer-short'>
    <div class="content">
      {% set currentYear = date().date | split('-') %}
        <center>&copy; Copyright {{ currentYear[0] }} |
            <a target="_blank" href="http://www.quintype.com/">
                Powered by Quintype</a>
        </center>
    </div>
</div>
