<div class="mob_buttons">
    <ul>
        <li>
            <span id="search_init1" class="search_butn">Search</span>
        </li>
    </ul>
</div>
<div class="nav-search">
    <div class="layout-search" id="main-search">
        <form class="search-form" role="search" action="/search">
            <div class="form-el">
                <input type="text" class="form-input" name="q" placeholder="Search for anything..">
            </div>
        </form>
    </div>
</div>
