<div class="header-social-icon">
    <ul>
        <li class="socialicon">
            <a target="_blank" href="https://www.facebook.com/quintypeinc/"><img src="{{ assetPath('icons/facebook.svg') }}"/></a>
        </li>
        <li class="socialicon">
            <a target="_blank" href="https://twitter.com/quintype_inc"><img src="{{ assetPath('icons/twitter.svg') }}"/></a>
        </li>
        <li class="socialicon">
            <a target="_blank" href="https://vimeo.com/user47797477"><img src="{{ assetPath('icons/vimeo.svg') }}"/></a>
        </li>
        <li class="socialicon">
            <a target="_blank" href="https://www.linkedin.com/company/quintype-inc"><img src="{{ assetPath('icons/linkedin.svg') }}"/></a>
        </li>
        <li>
            <span id="search_init" class="search_butn">Search</span>
        </li>
    </ul>
</div>
