<div class="header-social-icon">
    <ul>
        <li class="socialicon">
            <a target="_blank" href="{{ config['social-links']['facebook-url'] }}"><img src="{{ assetPath('icons/facebook.svg') }}"/></a>
        </li>
        <li class="socialicon">
            <a target="_blank" href="{{ config['social-links']['twitter-url'] }}"><img src="{{ assetPath('icons/twitter.svg') }}"/></a>
        </li>
        <li>
            <span id="search_init" class="search_butn">Search</span>
        </li>
    </ul>
</div>
