<div>
  <div class="ad_big" placeholder="Advertisement">
    <!-- /60988533/CLMTDESK_Story_Banner_01 -->
    <div id='div-gpt-ad-1467975359177-1'>
      <script type='text/javascript'>
        googletag.cmd.push(function () {
            googletag.display('div-gpt-ad-1467975359177-1');
        });
      </script>
    </div>
  </div>
  <div class="ad_mobile" placeholder="Advertisement">
    <!-- /60988533/CLMTDESK_Story_300x250_01 -->
    <div id='div-gpt-ad-1467975359177-0' style='height:250px; width:300px;'>
      <script type='text/javascript'>
        googletag.cmd.push(function () {
            googletag.display('div-gpt-ad-1467975359177-0');
        });
      </script>
    </div>
  </div>
</div>
