<div>
  <div class="ad_big" placeholder="Advertisement">
    <img src="http://placehold.it/728x90">
  </div>
  <div class="ad_mobile" placeholder="Advertisement">
    <img src="http://placehold.it/300x250">
  </div>
</div>
