<div>
  <!-- /60988533/Rio_Story_LB1 -->
  <div class="ad_big">
    {% include 'ads/Story_LB1_placeholder' %}
  </div>

  <!-- /60988533/Rio_Story_Mrec1 -->
  <div class="ad_mobile">
    {% include 'ads/Story_Mrec1_placeholder' %}
  </div>
</div>
