
<div class='text author'>
    <div class='author__left'><img  src="{{ assetPath('main/img4.jpg') }}" /></div>
    <div class='author__right'>
        <h5> Jhon Doe</h5>
        <p>
            John Doe was created in 1992 to provide a mechanism for international coordination on addressing climate change.
            The United States provides funding to support the UNFCCC secretariat and other activities.
        </p>
    </div>
</div>
