<div class="content top story-view" data-story-content-id="{{ storyData['id'] }}" data-story-version-id="{{ storyData['story-version-id'] }}">
  {% if storyData['story-template'] == 'photo' %}
    {% include "/story/templates/photo" %}
  {% elseif storyData['story-template'] == 'video' %}
    {% include "story/templates/video" with {'storyCards': storyData['cards']} %}
  {% elseif storyData['story-template'] == 'recipe'  %}
    {% include "story/templates/recipe" %}
  {% else %}
    {% include "story/templates/default" %}
  {% endif %}
</div>
<div class="loading">
  <div class="loader-image"></div>
  <span>Loading...</span>
</div>

<div class="story-comments">
    <script type="text/javascript">
      window.talktype=window.talktype||function(f){if(talktype.loaded)f();else(talktype.q=talktype.q||[]).push(arguments);};
    </script>
    <div id="talktype-container-{{ story['story-version-id'] }}" class="iframe-container" data-talktype-account-id="1" data-talktype-host="http://metype-api.staging.quintype.com/"></div>
    <script type="text/javascript">
      talktype(function() {
        talktype.commentWidgetIframe(document.getElementById("talktype-container-{{ story['story-version-id'] }}"));
      });
    </script>
    <script src="//metype-api.staging.quintype.com/quintype/metype/assets/application.js" async></script>
</div>

<script>
  qtReady.push(function() {
    app.videos.load();
    app.analytics.setup();
    app.slickSlider.photoStory();
    app.slickSlider.imageGallery();
    app.infiniteScroll.infiniteScroll();
  })
</script>
