<section class="photo-story">
  <div class="photo-story-image-slider js-photo-story-slider">
    {% for image in photoStoryImages %}
    <div>
      <figure>
        <img src="{{focusedImageUrl(image['image-s3-key'] ,config['image-cdn'], [16,9], image['image-metadata'],{w:500} )}}"/>
        <figcaption>{{image['title']}}</figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>
  {% include "story/header-card" %}
  <div class="story-body">
    {% include "story/cards" with {'storyCards': storyData['cards']} %}
    {% include "story/tags" with {'storyTags': storyData['tags']} %}
    {% include "story/ads" %}
  </div>
</section>
