<div class="content">
    <div class="story-template">
        <div class="story-template__story">
            <div class="story-template__story-head">
                <p><span>In</span> Special Stories</p>
                <h1>The Real Mojito</h1>
                <div class="story-template__story-head__author">
                    <div class="author-pic">
                        <img src="http://placehold.it/100x100">
                    </div>
                    <div class="author-box">
                        <p class="author-box__name">By Ritika Ratna</p>
                        <p class="author-box_detail">February 9, 2016, 4:59 pm</p>
                    </div>
                </div>
            </div>
            <div class="story-template__story-headimage">
                <img src="http://placehold.it/1000x600">
            </div>
            <div class="story-template__story-recipe-preparation-box">
                <ul>
                    <li>Prep Time
                        <br/>
                        <span>10 Minutes</span></li>
                    <li>Cook Time
                        <br/>
                        <span>1 Minutes</span></li>
                    <li>Serving
                        <br/>
                        <span>1 Persons</span></li>
                    <li>Difficulty Level
                        <br/>
                        <span>Easy</span></li>
                </ul>
            </div>
            <div class="story-template__story-content-story-section">
                <div class="story-template__story-content-story-section__left">
                    <ul>
                        Ingredients
                        <li>10 fresh mint leaves</li>
                        <li>1/2 lime cut into 4 wedges</li>
                        <li>2 Tbs white sugar, or to taste</li>
                        <li>1 cup ice cubes</li>
                        <li>11/2 oz white rum liquid</li>
                    </ul>
                </div>
                <div class="story-template__story-content-story-section__right">
                    <p>Instructions</p>
                    <p>Place mint leaves and 1 lime wedge into a sturdy glass. Use a muddler to crush the mint and lime to release the mint oils and lime juice. Add 2 more lime wedges and the sugar, and muddle again to release the lime juice. Do not strain the mixture. Fill the glass almost to the top with ice. Pour the rum over the ice, and fill the glass with carbonated water. Stir, taste, and add more sugar if desired. Garnish with the remaining lime wedge.</p>
                    <p>lace mint leaves and 1 lime wedge into a sturdy glass. Use a muddler to crush the mint and lime to release the mint oils and lime juice. Add 2 more lime wedges and the sugar, and muddle again to release the lime juice. Do not strain the mixture. Fill the glass almost to the top with ice. Pour the rum over the ice, and fill the glass with carbonated water. Stir, taste, and add more sugar if desired. Garnish with the remaining lime wedge.</p>
                </div>
            </div>
            <div class="story-template__story-rate-recipe-section">
                <div class="story-template__story-rate-recipe-section__tab">
                    <ul class="tabs">
                        <li class="tab-item tab-item--active"><a href="javascript:void(0)">Rate This Recipe</a></li>
                       <!--  <li class="tab-item"><a href="javascript:void(0)">Post Your Recipe</a></li> -->
                    </ul>
                </div>
                <div class="story-template__story-rate-recipe-section__tab-content">
                    <div class="story-template__story-rate-recipe-section__tab-content__imagebox">
                        <img src="http://placehold.it/100x100">
                    </div>
                    <div class="story-template__story-rate-recipe-section__tab-content__ratenow">
                        <p><span>3 People</span> Rated This Recepie</p>
                        <span class="unrated-stars">
                        <span class="star star-rated">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        </span>
                    </div>
                    <div class="story-template__story-rate-recipe-section__tab-content__already-rated">
                        <p>Average Rating</p>
                        <div class="rated-stars">
                            <span class="star-percentage">★★★★★</span>
                            <span class="star-percentage star-percentage-rated" style="width:70%;">★★★★★</span>
                        </div>
                        <span class="rated-value">3.7/5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->
