
        <div class="text story-element-bigfact">
            <h2>Big Short Heading</h2>
            <div class="context">
                <p>The UNFCCC was created in 1992 to provide a mechanism for international coordination on addressing climate change.</p>
            </div>
        </div>
