{% set elementSubtype = '/story/elements/elements_subtypes/'~dataElement['subtype'] %}
{% if dataElement['subtype'] != null %}
   {% include elementSubtype with {'dataElement': dataElement} %}
{% else %}
    <div class="story-element-{{ dataElement['type'] }}">
      {{ dataElement['text'] | raw }}
    </div>
{% endif %}
