<div class="story-element-{{dataElement['subtype']}}">
    <ul>
       {% set elements = dataElement['story-elements'] %}
       {% for galleryImage in elements %}
           <li class="story-element-image-gallery__image">
               <figure>
                 <img src="{{focusedImageUrl(galleryImage['image-s3-key'], config['image-cdn'], [16,9], galleryImage['image-metadata'], {w: 260, q: 60, auto: 'format', fm: 'pjpg'})}}"/>
               </figure>
               <div class="story-element-image-text-gallery">
                  {{ galleryImage['title'] | raw }}
              </div>
          </li>
       {% endfor %}
    </ul>
</div>
