<div class="story-element-{{dataElement['type']}}">
  <div data-polltype-embed-id="{{dataElement['polltype-id']}}" data-polltype-preview={{preview}}>
    <script async src="{{config['polltype-host'] | replace({'https://': '//', 'http://': '//'}) }}/embed.js">
    </script>
  </div>
</div>
