 <div class="text story-element-ques-and-ans">
            <h5>{{ dataElement['question']}}</h5>
            <div class="answer">
                <p>{{ dataElement['answer']}}.</p>
            </div>
        </div>