<div class="story-element-{{dataElement['subtype']}}">
   <div class="slider_container_image_gallery">
        <ul class="image-slideshow-slider js-image-slide-show">
            {% set elements = dataElement['story-elements'] %}
            {% for element in elements %}
              <li>
                <figure>
                   <img src="{{focusedImageUrl(element['image-s3-key'], config['image-cdn'], [16,9], element['image-metadata'], {w: 900})}}"/>
                </figure>
                 <div class="story-element-image-text-slider">
                      {{element['title'] | raw}}
                 </div>
             </li>
           {% endfor %}
       </ul>
  </div>
</div>
