<span class="storyshare">
    <ul class="social-share">
        <li><a href="#" rel="nofollow" class="share__button facebook" onclick="javascript:window.open('http://facebook.com/sharer.php?u=http:climatedesk-web.staging.quintype.io/{{ storyData['slug'] }}', 'titleeeeeeeeeeeeeee.',
                        'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
                return false;" >
                <!-- svg code for the facebook rounded icon -->
                <svg  viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
                    <title>facebook icon</title>
                    <defs></defs>
                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Color" transform="translate(-275.000000, -433.000000)">
                            <circle id="Oval-1" fill="#4460A0" cx="315" cy="473" r="40"></circle>
                            <path d="M317.736183,493.75043 L317.736183,475.162184 L323.975399,475.162184 L324.909633,467.918015 L317.736183,467.918015 L317.736183,463.293071 C317.736183,461.195717 318.31859,459.766439 321.326168,459.766439 L325.16219,459.764763 L325.16219,453.28552 C324.498764,453.197238 322.221662,453 319.57243,453 C314.041712,453 310.255233,456.375956 310.255233,462.575639 L310.255233,467.918015 L304,467.918015 L304,475.162184 L310.255233,475.162184 L310.255233,493.75043 L317.736183,493.75043 Z" id="Facebook" fill="#FFFFFF"></path>
                        </g>
                        <g id="Credit" transform="translate(-1529.000000, -676.000000)"></g>
                    </g>
                </svg>
                <!--end of svg code for the facebook rounded icon -->
            </a></li>
        <li><a class="share__button whatsapp" href="whatsapp://send?text=http:climatedesk-web.staging.quintype.io/{{ storyData['slug'] }}" rel="nofollow" data-action="share/whatsapp/share">
                <!--svg code for the whatsapp rounded icon -->
                <svg width="25px" height="25px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                    <title>whatsapp</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="whatsapp">
                            <g id="Group-11">
                                <g id="Page-1">
                                    <g id="story-page-V2">
                                        <g id="Group-11">
                                            <circle id="Oval-11" fill="#43D854" cx="14.9925595" cy="14.9925595" r="14.9925595"></circle>
                                            <g id="whatsapp-logo" transform="translate(6.666667, 6.666667)" fill="#FFFFFF">
                                                <path d="M16.6666667,8.1187037 C16.6666667,12.6025926 13.0038889,16.2374074 8.48481482,16.2374074 C7.05018518,16.2374074 5.7024074,15.8707407 4.52981482,15.2272222 L0,16.6666667 L1.47685185,12.3107407 C0.731851852,11.0874074 0.302777778,9.6525926 0.302777778,8.1187037 C0.302777778,3.63481482 3.96592593,0 8.48481482,0 C13.0042593,0 16.6666667,3.63481482 16.6666667,8.1187037 L16.6666667,8.1187037 L16.6666667,8.1187037 Z M8.48481482,1.29296296 C4.69148148,1.29296296 1.60592593,4.355 1.60592593,8.1187037 C1.60592593,9.61222222 2.09277778,10.9953704 2.9162963,12.1205556 L2.05685185,14.6555556 L4.70037037,13.8153704 C5.78648148,14.5285185 7.0875926,14.9444445 8.485,14.9444445 C12.2777778,14.9444445 15.3638889,11.8827778 15.3638889,8.11907407 C15.3638889,4.35537037 12.277963,1.29296296 8.48481482,1.29296296 L8.48481482,1.29296296 L8.48481482,1.29296296 Z M12.6164815,9.98851852 C12.5659259,9.90574073 12.4324074,9.85574073 12.232037,9.7562963 C12.0312963,9.65685185 11.045,9.17518518 10.8616667,9.10907407 C10.6777778,9.04277778 10.5437037,9.00944445 10.4101852,9.20851852 C10.2766667,9.40777778 9.89222222,9.85574073 9.775,9.98851852 C9.65796297,10.1216667 9.54111112,10.1383333 9.34037037,10.0387037 C9.14,9.93925927 8.49388888,9.72888888 7.72777778,9.05111112 C7.13166667,8.5237037 6.72907407,7.8725926 6.61203703,7.67314815 C6.49518518,7.47407407 6.59981482,7.36648148 6.7,7.2674074 C6.79037037,7.17814815 6.90074073,7.035 7.00092593,6.91888888 C7.10148148,6.8025926 7.13481482,6.71981482 7.2012963,6.58685185 C7.26851852,6.45407407 7.235,6.33796297 7.18462963,6.23814815 C7.13462963,6.1387037 6.73314815,5.15944445 6.56611112,4.76092593 C6.39907407,4.36277778 6.23222222,4.42907407 6.115,4.42907407 C5.99814815,4.42907407 5.86425927,4.4124074 5.73055555,4.4124074 C5.59685185,4.4124074 5.37944445,4.46222222 5.19555555,4.6612963 C5.01185185,4.86055555 4.49388888,5.34203703 4.49388888,6.32111112 C4.49388888,7.30037037 5.21222222,8.24648148 5.31277778,8.37907407 C5.41296297,8.51166667 6.69981482,10.5864815 8.7387037,11.3833333 C10.7777778,12.1798148 10.7777778,11.9140741 11.1455556,11.8807407 C11.512963,11.8475926 12.3318518,11.3994445 12.4996296,10.935 C12.6662963,10.4698148 12.6662963,10.0714815 12.6164815,9.98851852 L12.6164815,9.98851852 L12.6164815,9.98851852 Z" id="WhatsApp"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <!--end of svg code for the whatsapp rounded icon -->
            </a></li>
        <li>
            <a href="#" class="share__button twitter" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url=http:climatedesk-web.staging.quintype.io/{{ storyData['slug'] }};text={{ storyData['headline'] }};&original_referer=http:climatedesk-web.staging.quintype.io/', '',
                            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
                    return false;" >
                <!-- svg code for the twitter rounded icon -->
                <svg width="25px" height="25px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
                    <title>twitter</title>
                    <defs></defs>
                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Color" transform="translate(-375.000000, -433.000000)">
                            <circle id="Oval-1" fill="#00AAEC" cx="415" cy="473" r="40"></circle>
                            <path d="M439,457.735283 C437.236309,458.538462 435.337383,459.081618 433.345483,459.324305 C435.379644,458.076201 436.940482,456.097147 437.675823,453.739617 C435.771263,454.895269 433.666667,455.736006 431.418384,456.18671 C429.626519,454.224991 427.065504,453 424.231203,453 C418.796443,453 414.387216,457.521488 414.387216,463.097508 C414.387216,463.88913 414.471738,464.657638 414.640782,465.397255 C406.456242,464.975442 399.201444,460.959552 394.341433,454.843265 C393.493397,456.339834 393.008804,458.076201 393.008804,459.925244 C393.008804,463.426869 394.747139,466.518238 397.389857,468.329722 C395.778306,468.280607 394.256911,467.821235 392.9271,467.070061 L392.9271,467.194294 C392.9271,472.08848 396.322064,476.17082 400.8299,477.095341 C400.004402,477.33225 399.133826,477.450704 398.235077,477.450704 C397.601162,477.450704 396.981335,477.390033 396.381229,477.271578 C397.634971,481.28169 401.269414,484.2026 405.580032,484.280607 C402.210424,486.99061 397.961789,488.605634 393.349709,488.605634 C392.555203,488.605634 391.769149,488.559408 391,488.466956 C395.358514,491.327194 400.53689,493 406.095615,493 C424.211481,493 434.114633,477.615385 434.114633,464.270495 C434.114633,463.831347 434.106181,463.392199 434.089276,462.961719 C436.013559,461.537378 437.684275,459.760563 439,457.735283" id="Twitter" fill="#FFFFFF"></path>
                        </g>
                        <g id="Credit" transform="translate(-1629.000000, -676.000000)"></g>
                    </g>
                </svg>
                <!--end of svg code for the facebook rounded icon -->
            </a></li>

        

    </ul>
</span> <!-- end of story share -->