
{% if dataElement['metadata']['type'] == 'slideshow' %}

<div class="rslides_container">
    <ul class="rslides">
    {% set elements = dataElement['story-elements'] %}
 {% for element in elements %}
 	<li> <img src="http://qt-staging-01.imgix.net/{{ element['image-s3-key'] }}"></li>

 {% endfor %}
	 
	</ul>
</div>
{% endif %}




